force-app/main/default/flows/Accounting_Data_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>sum the control amount for the daily records</description>
        <name>Add_control_Amount</name>
        <label>Add control Amount</label>
        <locationX>1170</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>SumAtypeAmounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAccountingDataRecordInSet.Monetary_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_control_values_to_collection_records</name>
        <label>Assign control values to collection records</label>
        <locationX>508</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>ADcontrolvalueupdaterecord.Control_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vControlAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ADcontrolvalueupdaterecord.Control_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountperDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collection_variable_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collection_variable_update</name>
        <label>collection variable update</label>
        <locationX>720</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>cUpdateADcontrolValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ADcontrolvalueupdaterecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_control_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_records</name>
        <label>Number of records</label>
        <locationX>1168</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>CountperDay</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vControlAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SumAtypeAmounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_all_related_accounting_data_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Control_amount_sum</name>
        <label>Check for Control amount sum</label>
        <locationX>921</locationX>
        <locationY>166</locationY>
        <defaultConnector>
            <targetReference>Number_of_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>System_Defined_Equals_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountingDataRecordInSet.System_Defined__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_control_Amount</targetReference>
            </connector>
            <label>System Defined Equals A</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_modification</name>
        <label>New or modification</label>
        <locationX>184</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Get_associated_accounting_data_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTypeofEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_associated_AD_records</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <description>Added fast update to fix errors with duplicate record access limit</description>
    <interviewLabel>Accounting Data Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounting Data Update</label>
    <loops>
        <name>Count_all_related_accounting_data_records</name>
        <label>Count all related accounting data records</label>
        <locationX>716</locationX>
        <locationY>75</locationY>
        <assignNextValueToReference>vAccountingDataRecordInSet</assignNextValueToReference>
        <collectionReference>cAccoutningDataCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Control_amount_sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_control_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_control_values</name>
        <label>Update control values</label>
        <locationX>718</locationX>
        <locationY>312</locationY>
        <assignNextValueToReference>ADcontrolvalueupdaterecord</assignNextValueToReference>
        <collectionReference>cAccoutningDataCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_control_values_to_collection_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_AD_records_with_control_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_associated_accounting_data_records</name>
        <label>Get associated accounting data records</label>
        <locationX>392</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_all_related_accounting_data_records</targetReference>
        </connector>
        <filters>
            <field>Case_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseIssueID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Monetary_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Monetary_Amount__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_event__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_event__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RVPMT-NR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_event__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PMT-NR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Uniq_Group_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUniqDate</elementReference>
            </value>
        </filters>
        <object>Accounting_Data__c</object>
        <outputReference>cAccoutningDataCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Control_Count__c</queriedFields>
        <queriedFields>Control_Amount__c</queriedFields>
        <queriedFields>System_Defined__c</queriedFields>
        <queriedFields>Monetary_Amount__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_New_associated_AD_records</name>
        <label>Get New associated AD records</label>
        <locationX>392</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_all_related_accounting_data_records</targetReference>
        </connector>
        <filters>
            <field>Case_Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseIssueID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Monetary_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Monetary_Amount__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_event__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_event__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>RVPMT-NR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_event__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PMT-NR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Uniq_Group_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUniqDate</elementReference>
            </value>
        </filters>
        <object>Accounting_Data__c</object>
        <outputReference>cAccoutningDataCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Control_Amount__c</queriedFields>
        <queriedFields>Control_Count__c</queriedFields>
        <queriedFields>Monetary_Amount__c</queriedFields>
        <queriedFields>System_Defined__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_AD_records_with_control_values</name>
        <label>Update AD records with control values</label>
        <locationX>1013</locationX>
        <locationY>312</locationY>
        <inputReference>cUpdateADcontrolValues</inputReference>
    </recordUpdates>
    <startElementReference>New_or_modification</startElementReference>
    <status>Active</status>
    <variables>
        <name>ADcontrolvalueupdaterecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accounting_Data__c</objectType>
    </variables>
    <variables>
        <name>cAccoutningDataCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accounting_Data__c</objectType>
    </variables>
    <variables>
        <name>CountperDay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>cUpdateADcontrolValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Accounting_Data__c</objectType>
    </variables>
    <variables>
        <name>SumAtypeAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vAccountingDataRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAccountingDataRecordInSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accounting_Data__c</objectType>
    </variables>
    <variables>
        <name>vAccoutingDataRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The parent case issue</description>
        <name>vCaseIssueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vControlAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vControlCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vSystemDefined</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vTypeofEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vUniqDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
