force-app/main/default/flows/Case_Violation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chater_Admins_Invalid_Inputs</name>
        <label>Chater Admins Invalid Inputs</label>
        <locationX>159</locationX>
        <locationY>323</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ViolationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[SF_Admins] This Violation did not properly trigger the flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deputy_Assigned_chatter</name>
        <label>Deputy Assigned</label>
        <locationX>433</locationX>
        <locationY>524</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Set_Deputy_details_on_Violation</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ViolationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>deputy assigned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Input_valid_debug_chatter</name>
        <label>Input valid debug chatter</label>
        <locationX>346</locationX>
        <locationY>56</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Roll_Violation_Amounts_to_Assessment</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ViolationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>inputs valid for case violation flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>new_violation_debug_message</name>
        <label>new violation debug message</label>
        <locationX>462</locationX>
        <locationY>314</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Deputy_data_available</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ViolationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>violation flagged as new</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>No_Deputy_Assigned_chatter</name>
        <label>No Deputy Assigned chatter</label>
        <locationX>685</locationX>
        <locationY>256</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Interest_Calc_Required</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ViolationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>No deputy assigned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>161</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>ViolationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1EZ0000001L34m</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1BZ0000001UWgh</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedDeputy</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignedDeputySenior</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssessmentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a11Z000000AndRv</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAddInterest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varViolRecType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WCA_Violations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deputy_data_available</name>
        <label>Deputy data available</label>
        <locationX>607</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Interest_Calc_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deputy not Assigned</defaultConnectorLabel>
        <rules>
            <name>Deputy_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedDeputy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Deputy_details_on_Violation</targetReference>
            </connector>
            <label>Deputy Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether interest calculation is required. This is relevent for WCA/Garment cases, but may be extended.</description>
        <name>Interest_Calc_Required</name>
        <label>Interest Calc Required?</label>
        <locationX>1008</locationX>
        <locationY>167</locationY>
        <defaultConnectorLabel>Interest Calc not required</defaultConnectorLabel>
        <rules>
            <name>Required_WCA_Garment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAddInterest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Interest_on_Violation</targetReference>
            </connector>
            <label>Required - WCA/Garment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines in the violation is new or not</description>
        <name>New_Violation</name>
        <label>New Violation?</label>
        <locationX>605</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Interest_Calc_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_data_available</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>160</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Chater_Admins_Invalid_Inputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ViolationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssessmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roll_Violation_Amounts_to_Assessment</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Handles all actions associated with a case violation
- bypassed debug chatters</description>
    <interviewLabel>Case Violation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Violation Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Calculate_Interest_on_Violation</name>
        <label>Calculate Interest on Violation</label>
        <locationX>1336</locationX>
        <locationY>168</locationY>
        <flowName>Calculate_Violation_Interest</flowName>
        <inputAssignments>
            <name>varViolationID</name>
            <value>
                <elementReference>ViolationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecType</name>
            <value>
                <elementReference>varViolRecType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Roll_Violation_Amounts_to_Assessment</name>
        <label>Roll Violation Amounts to Assessment</label>
        <locationX>416</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>New_Violation</targetReference>
        </connector>
        <flowName>Rollup_violation_amounts_to_Assessment</flowName>
        <inputAssignments>
            <name>AssessmentID</name>
            <value>
                <elementReference>AssessmentID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Set the deputy and senior deputy on the violation</description>
        <name>Set_Deputy_details_on_Violation</name>
        <label>Set Deputy details on Violation</label>
        <locationX>603</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>Interest_Calc_Required</targetReference>
        </connector>
        <flowName>Set_Assigned_Senior_Deputy_on_Case_Violation_Create</flowName>
        <inputAssignments>
            <name>varCaseAssignedDeputy</name>
            <value>
                <elementReference>AssignedDeputy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseAssignedSeniorDeputy</name>
            <value>
                <elementReference>AssignedDeputySenior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseViolationID</name>
            <value>
                <elementReference>ViolationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Parent Assessment ID of the violatoin</description>
        <name>AssessmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of assigned deputy of the case</description>
        <name>AssignedDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Senior of the deputy assigned to the case</description>
        <name>AssignedDeputySenior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of parent case to the violation that triggered the flow</description>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flag sent from the process builder indicating if the violation is new</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Indicates if interest calculation is needed on this violation. Value determined in process and passed to flow.</description>
        <name>varAddInterest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Holds the rec type of the violation. Value is passed from PB</description>
        <name>varViolRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>ID of Violation that triggered flow</description>
        <name>ViolationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
