force-app/main/default/flows/Case_Payment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_on_Registration_that_Payment_Posted</name>
        <label>Chatter on Registration that Payment Posted</label>
        <locationX>303</locationX>
        <locationY>393</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>New_Payment_And_On_Pay_Plan</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A Case Payment in the amount of {!PaymentAmount} has posted to a BOFE Case related to this Registration.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Notifies admin that the payment plan due date update failed</description>
        <name>Payplan_update_problem</name>
        <label>Payplan update problem</label>
        <locationX>1184</locationX>
        <locationY>387</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[Salesforce Support Team] The update of the payment plan due date by the Case Payment Flow failed. Please contact the deputy to update as needed. [{!$Flow.FaultMessage}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>PayPlanID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AddMonth</name>
        <label>AddMonth</label>
        <locationX>895</locationX>
        <locationY>111</locationY>
        <assignmentItems>
            <assignToReference>NextDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMonthtoDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pay_Plan_Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTwoWeeks</name>
        <label>AddTwoWeeks</label>
        <locationX>975</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>NextDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddTwoWeeksToDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pay_Plan_Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddWeek</name>
        <label>AddWeek</label>
        <locationX>903</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>NextDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddWeekToPaymentDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pay_Plan_Due_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the input variables required for this flow</description>
        <name>Set_Input_Variables</name>
        <label>Set Input Variables</label>
        <locationX>146</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>PayPlanID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a15m00000006617</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2015-02-28</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecTypeName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the value of the create date against the modified date using the formula resource to determine if the payment was new or updated</description>
        <name>New_Payment_And_On_Pay_Plan</name>
        <label>New Payment And On Pay Plan?</label>
        <locationX>445</locationX>
        <locationY>606</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>YesNewPaymentAndOnPayPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolisNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PayPlanID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Payment_Plan_Data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_A_Pay_Plan</name>
        <label>On A Pay Plan?</label>
        <locationX>313</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Pay_Plan_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PayPlanID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Payment_Plan_Data</targetReference>
            </connector>
            <label>Pay Plan Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Status</name>
        <label>Payment Status</label>
        <locationX>54</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_A_Pay_Plan</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Allocation_Recommended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocations Recommended</stringValue>
                </rightValue>
            </conditions>
            <label>Allocation Recommended</label>
        </rules>
        <rules>
            <name>Posted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_to_Registration</targetReference>
            </connector>
            <label>Posted</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaymentPlan_Frequency</name>
        <label>PaymentPlan Frequency</label>
        <locationX>659</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPaymentPlanFrequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddWeek</targetReference>
            </connector>
            <label>Weekly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPaymentPlanFrequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddMonth</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Bi_Weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPaymentPlanFrequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bi-Weekly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddTwoWeeks</targetReference>
            </connector>
            <label>Bi-Weekly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_Registration</name>
        <label>Related to Registration?</label>
        <locationX>58</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>New_Payment_And_On_Pay_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRelatedToRegistration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_on_Registration_that_Payment_Posted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates Payment Plan (if any) next due date.
Chatters the related Registration (if any) that a payment has been posted to the related BOFE Case.</description>
    <formulas>
        <description>Adds a month to the due date from the trigger record</description>
        <name>AddMonthtoDueDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
	year({!DueDate}) + floor((month({!DueDate}) + 1) / 12) + if(month({!DueDate})=12,-1,0),
	if(mod(month({!DueDate}) + 1, 12) = 0, 12 , mod(month({!DueDate}) + 1 , 12)),
	min(day({!DueDate}),
		case(max(mod(month({!DueDate}) + 1 , 12), 1),
			9,30,
			4,30,
			6,30,
			11,30,
			2,28,
			31
		)
	)
)</expression>
    </formulas>
    <formulas>
        <name>AddTwoWeeksToDueDate</name>
        <dataType>Date</dataType>
        <expression>{!DueDate} + 14</expression>
    </formulas>
    <formulas>
        <name>AddWeekToPaymentDueDate</name>
        <dataType>Date</dataType>
        <expression>{!DueDate} + 7</expression>
    </formulas>
    <formulas>
        <description>Determines if a record is new or updated</description>
        <name>boolisNew</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!createDate} = {!modifiedDate}, True, False)</expression>
    </formulas>
    <formulas>
        <description>Full URL link to the record. Used in text template for email notifications.</description>
        <name>URLLink</name>
        <dataType>String</dataType>
        <expression>{!BaseURL}&amp;{!CasePaymentID}</expression>
    </formulas>
    <interviewLabel>Case Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Payment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Payment_Plan_Data</name>
        <label>Lookup Payment Plan Data</label>
        <locationX>666</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PaymentPlan_Frequency</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayPlanID</elementReference>
            </value>
        </filters>
        <object>Payment_Plan__c</object>
        <outputAssignments>
            <assignToReference>vPaymentPlanFrequency</assignToReference>
            <field>Frequency__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the due date on the payment plan</description>
        <name>Update_Pay_Plan_Due_Date</name>
        <label>Update Pay Plan Due Date</label>
        <locationX>1187</locationX>
        <locationY>212</locationY>
        <faultConnector>
            <targetReference>Payplan_update_problem</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayPlanID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>NextDueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Plan__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Payment_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email template with the new case payment info</description>
        <name>NewCasePayment</name>
        <text>A new payment has been recorded against Case {!CaseNumber}. The payment is ready for your allocation recommendations. You can access the payment here: {!URLLink}</text>
    </textTemplates>
    <textTemplates>
        <description>Debug for payplan update</description>
        <name>PayPlanVariableCheck</name>
        <text>In Case Payment Flow, default outcome from Decision-newPayment:
CP: {!CasePaymentID}
Pay Plan: {!PayPlanID}
Due Date: {!DueDate}
Next Due Date: {!NextDueDate}
Add Month Formula: {!AddMonthtoDueDate}</text>
    </textTemplates>
    <variables>
        <description>Assigned Deputy on the case that they payment is applied from</description>
        <name>AssignedDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Email address of the assigned deputy on the parent case. Used for sending the notification email to the deputy when the case payment is created</description>
        <name>AssignedDeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Gets the base URL for the sf org from the key value store for providing the link to the deputy.</description>
        <name>BaseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case number that te payment is involved with</description>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Input from the process builder with the case payment ID. Reference to the trigger record.</description>
        <name>CasePaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Created Date of record passed from process builder</description>
        <name>createDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The current due date of the payment plan</description>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Passed in the process for new case payments. Indicates that the payment is just created and not possibly updated</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Modified date of the record. passed from process builder</description>
        <name>modifiedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Accepts the next due date from the formula that adds a month to the due date on the payment plan</description>
        <name>NextDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case_Payment__c.Payment_Amount__c</description>
        <name>PaymentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Receives the payment status from the case payment that triggers the flow.</description>
        <name>PaymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Payment Plan ID related to the case payment that triggered the flow</description>
        <name>PayPlanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCPPostedRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of record type passed from PB</description>
        <name>varRecTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Registration ID associated with case when it applies</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPaymentPlanFrequency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
