force-app/main/default/flows/Check_Batch_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Large_Check_Notification</name>
        <label>Large Check Notification</label>
        <locationX>1178</locationX>
        <locationY>1173</locationY>
        <actionName>Check__c.Large_Check_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Checks</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>sov_check.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Startvar_test</name>
        <label>Startvar test</label>
        <locationX>180</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>startvar_check_batch_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2Q630000005nZS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_check_batch_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_reviewed_by</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1C6300000019jM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_internal_employee_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1C630000001R1m</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_check_batch_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Test Batch</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Internal_Employee</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_Outcome</name>
        <label>Approval Outcome</label>
        <locationX>1341</locationX>
        <locationY>1018</locationY>
        <defaultConnector>
            <targetReference>Check_not_approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Outcome_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sov_check.Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_update_Approved</targetReference>
            </connector>
            <label>Approved Check</label>
        </rules>
        <rules>
            <name>Large_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_check.Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approval_Outcome_Screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Large_Checks</targetReference>
            </connector>
            <label>Large Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Base_URL</name>
        <label>Base URL</label>
        <locationX>938</locationX>
        <locationY>771</locationY>
        <defaultConnector>
            <targetReference>No_Base_URL_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No BaseURL</defaultConnectorLabel>
        <rules>
            <name>BaseURL_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fml_Base_URL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>BaseURL Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sr_Cashier</name>
        <label>Check Sr. Cashier</label>
        <locationX>328</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>NotSrCashier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sr_Cashier_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSrCashier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Batch_Review_Start</targetReference>
            </connector>
            <label>Sr Cashier = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1224</locationX>
        <locationY>769</locationY>
        <defaultConnector>
            <targetReference>Loop_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check Batch Approval Review</defaultConnectorLabel>
        <rules>
            <name>Check_Batch_Void_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_check_batch_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Printed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Printed_Checks</targetReference>
            </connector>
            <label>Check Batch Void Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checks_Needing_Approval</name>
        <label>Checks Needing Approval</label>
        <locationX>503</locationX>
        <locationY>982</locationY>
        <defaultConnector>
            <targetReference>No_Checks_to_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Checks</defaultConnectorLabel>
        <rules>
            <name>Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soc_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Base_URL</targetReference>
            </connector>
            <label>Pending Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Review</name>
        <label>Continue Review</label>
        <locationX>502</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Do_Not_Continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Leave Review</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue_Anyway</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Lookup_Related_Checks</targetReference>
            </connector>
            <label>Yes Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Review_Start</name>
        <label>Review Start</label>
        <locationX>330</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>No_Checks_in_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Review_Started</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>var_check_batch_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_reviewed_by</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_reviewed_by</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Batch_Reviwer</targetReference>
            </connector>
            <label>No Review Started</label>
        </rules>
        <rules>
            <name>Paused_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_check_batch_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_reviewed_by</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_internal_employee_id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Lookup_Related_Checks</targetReference>
            </connector>
            <label>Paused Review</label>
        </rules>
        <rules>
            <name>Review_Already_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_check_batch_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_reviewed_by</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>var_internal_employee_id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Original_Approver</targetReference>
            </connector>
            <label>Review Already Started</label>
        </rules>
        <rules>
            <name>Void_Printed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_check_batch_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Printed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Records</targetReference>
            </connector>
            <label>Void Printed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Void_Outcome</name>
        <label>Void Outcome</label>
        <locationX>1438</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Void_Printed_Checks_Not_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Void</defaultConnectorLabel>
        <rules>
            <name>Yes_Void</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Void_Approval_Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Void_Printed_Checks_Approved</targetReference>
            </connector>
            <label>Yes, Void</label>
        </rules>
    </decisions>
    <decisions>
        <name>Void_Printed_Checks</name>
        <label>Void Printed Checks</label>
        <locationX>914</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>No_Checks_to_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Printed Checks</defaultConnectorLabel>
        <rules>
            <name>Void_Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sov_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Base_URL</targetReference>
            </connector>
            <label>Void Pending Review</label>
        </rules>
    </decisions>
    <description>Added internal employee id for reviewed by and approved by field</description>
    <formulas>
        <description>Text warning when a payee on a check is subject to a lien/garnishment</description>
        <name>flaLienGarnishmentWarning</name>
        <dataType>String</dataType>
        <expression>IF ( {!sov_check.Subject_to_Lien_Garnishment__c} , &#39;Warning: The payee on this check is subject to a lien or a garnishment&#39;, &#39;&#39;)</expression>
    </formulas>
    <formulas>
        <name>fml_Base_URL</name>
        <dataType>String</dataType>
        <expression>{!var_Base_URL}</expression>
    </formulas>
    <formulas>
        <description>Running user of the flow</description>
        <name>fml_running_user</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Used to check if Sr. Cashier</description>
        <name>fSrCashier</name>
        <dataType>Boolean</dataType>
        <expression>if ({!$Permission.Check_Approver}, true, false)</expression>
    </formulas>
    <interviewLabel>Check Batch Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Batch Approval</label>
    <loops>
        <name>Loop_Checks</name>
        <label>Loop Checks</label>
        <locationX>1091</locationX>
        <locationY>896</locationY>
        <assignNextValueToReference>sov_check</assignNextValueToReference>
        <collectionReference>soc_check</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Batch_Review_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Printed_Checks</name>
        <label>Loop Printed Checks</label>
        <locationX>1223</locationX>
        <locationY>620</locationY>
        <assignNextValueToReference>sov_check</assignNextValueToReference>
        <collectionReference>soc_check</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Void_Check_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Batch_Voided</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_Records</name>
        <label>Check Records</label>
        <locationX>719</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Void_Printed_Checks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startvar_check_batch_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Printed</stringValue>
            </value>
        </filters>
        <object>Check__c</object>
        <outputReference>sov_check</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Approved_By__c</queriedFields>
        <queriedFields>Approved_Date__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Check_Batch__c</queriedFields>
        <queriedFields>Check_Delivery_Method__c</queriedFields>
        <queriedFields>Disbursement_Type__c</queriedFields>
        <queriedFields>Issue_Date__c</queriedFields>
        <queriedFields>Mailed_Date__c</queriedFields>
        <queriedFields>Office_Account__c</queriedFields>
        <queriedFields>Requested_By__c</queriedFields>
        <queriedFields>Requested_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Status_Comment__c</queriedFields>
        <queriedFields>Status_Date__c</queriedFields>
        <queriedFields>Successor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Fast_Lookup_Related_Checks</name>
        <label>Fast Lookup Related Checks</label>
        <locationX>329</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checks_Needing_Approval</targetReference>
        </connector>
        <filters>
            <field>Check_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startvar_check_batch_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </filters>
        <object>Check__c</object>
        <outputReference>soc_check</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Approved_By__c</queriedFields>
        <queriedFields>Approved_Check__c</queriedFields>
        <queriedFields>Not_Approved_Check__c</queriedFields>
        <queriedFields>Not_Approved_Comments__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Approved_Date__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Check_Batch__c</queriedFields>
        <queriedFields>Disbursement_Type__c</queriedFields>
        <queriedFields>Office_Account__c</queriedFields>
        <queriedFields>Office_Account_Name__c</queriedFields>
        <queriedFields>Payee_Name__c</queriedFields>
        <queriedFields>Case_Number__c</queriedFields>
        <queriedFields>Subject_to_Lien_Garnishment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Base_URL</name>
        <label>Get Base URL</label>
        <locationX>778</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Base_URL</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BaseURL</stringValue>
            </value>
        </filters>
        <object>Key_Value_Store__c</object>
        <outputAssignments>
            <assignToReference>var_Base_URL</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Internal_Employee</name>
        <label>Get Internal Employee</label>
        <locationX>331</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sr_Cashier</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fml_running_user</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>var_internal_employee_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Check_Batch_Review_Completed</name>
        <label>Check Batch Review Completed</label>
        <locationX>826</locationX>
        <locationY>1050</locationY>
        <connector>
            <targetReference>Check_Batch_Review_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startvar_check_batch_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Review Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Check_Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Batch_Reviwer</name>
        <label>Check Batch Reviwer</label>
        <locationX>201</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Fast_Lookup_Related_Checks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startvar_check_batch_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reviewed_By__c</field>
            <value>
                <elementReference>var_internal_employee_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <object>Check_Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_Batch_Voided</name>
        <label>Check Batch Voided</label>
        <locationX>1135</locationX>
        <locationY>448</locationY>
        <connector>
            <targetReference>No_Checks_to_Void</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>startvar_check_batch_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </inputAssignments>
        <object>Check_Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_not_approved</name>
        <label>Check not approved</label>
        <locationX>1596</locationX>
        <locationY>1057</locationY>
        <connector>
            <targetReference>Loop_Checks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_check.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Not_Approved_Comments__c</field>
            <value>
                <elementReference>Not_Approved_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Check__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Check_update_Approved</name>
        <label>Check update Approved</label>
        <locationX>1025</locationX>
        <locationY>1173</locationY>
        <connector>
            <targetReference>Loop_Checks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_check.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_By__c</field>
            <value>
                <elementReference>var_internal_employee_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Check__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Large_Checks</name>
        <label>Large Checks</label>
        <locationX>1345</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>Large_Check_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_check.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved_By__c</field>
            <value>
                <elementReference>var_internal_employee_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Secondary Approval Needed</stringValue>
            </value>
        </inputAssignments>
        <object>Check__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Void_Printed_Checks_Approved</name>
        <label>Void Printed Checks Approved</label>
        <locationX>1337</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>Loop_Printed_Checks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_check.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Comment__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </inputAssignments>
        <object>Check__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Void_Printed_Checks_Not_Approved</name>
        <label>Void Printed Checks Not Approved</label>
        <locationX>1501</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>Loop_Printed_Checks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sov_check.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status_Comment__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <object>Check__c</object>
    </recordUpdates>
    <screens>
        <name>Check_Approval</name>
        <label>Check Approval</label>
        <locationX>1469</locationX>
        <locationY>911</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approval_Outcome</targetReference>
        </connector>
        <fields>
            <name>showCheckInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Check Name - {!sov_check.Name}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Check Amount - {!sov_check.Amount__c} &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Number - &lt;FONT KERNING=&quot;1&quot;&gt;{!sov_check.Case_Number__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Payee - &lt;FONT KERNING=&quot;1&quot;&gt;{!sov_check.Payee_Name__c} &lt;FONT STYLE=&quot;font-size:16px&quot; COLOR=&quot;#FF0000&quot;&gt;{!flaLienGarnishmentWarning}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Disbursement Type&lt;FONT KERNING=&quot;0&quot;&gt; - &lt;/FONT&gt;{!sov_check.Disbursement_Type__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Office Account - {!sov_check.Office_Account_Name__c}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Detail - &lt;A HREF=&quot;{!fml_Base_URL}{!sov_check.Case__c}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Click Here&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attest</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;By approving this check I attest that I have reviewed the supporting documentation.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approval_Outcome_Screen</name>
            <choiceReferences>Yes_choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Choice</defaultSelectedChoiceReference>
            <fieldText>Approval Outcome</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Not_Approved_Comments</name>
            <fieldText>Not Approved Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Batch_Review_Complete</name>
        <label>Check Batch Review Complete</label>
        <locationX>820</locationX>
        <locationY>1155</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>check_batch_review</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have reviewed all checks in Check Batch&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Batch_Review_Start</name>
        <label>Check Batch Review Start</label>
        <locationX>173</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_Start</targetReference>
        </connector>
        <fields>
            <name>BatchReviewStart</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You will be reviewing Checks for Check Batch {!var_check_batch_name}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_Not_Continue</name>
        <label>Do Not Continue</label>
        <locationX>721</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoNot_Continue</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Press Finish to Leave Review.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Base_URL_Found</name>
        <label>No Base URL Found</label>
        <locationX>942</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_BaseURL</name>
            <fieldText>The Base URL is blank.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Checks_in_Batch</name>
        <label>No Review Status Identified</label>
        <locationX>691</locationX>
        <locationY>253</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Checks_to_review</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;No review status was identified. Unable to continue with the review&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>txtDecisionVars</name>
            <fieldText>BatchID : {!startvar_check_batch_id}
Batch Status : {!var_check_batch_status}
Reviewed by : 
{!var_reviewed_by}
Internal Employee ID : {!var_internal_employee_id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Checks_to_Approve</name>
        <label>No Checks to Approve</label>
        <locationX>504</locationX>
        <locationY>773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecords</name>
            <fieldText>There are no checks to review.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Checks_to_Void</name>
        <label>No Checks to Void</label>
        <locationX>1135</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_checkstovoid</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;There are No Checks to Void in Batch.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Original_Approver</name>
        <label>Not Original Approver</label>
        <locationX>502</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_Review</targetReference>
        </connector>
        <fields>
            <name>Not_original_Reviewer</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You are not the original Reviewer of this batch.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue_Anyway</name>
            <choiceReferences>Yes_choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Continue Anyway?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotSrCashier</name>
        <label>NotSrCashier</label>
        <locationX>598</locationX>
        <locationY>116</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SrCashierCheck</name>
            <fieldText>You do not have permission to approve the check batch. Contact your Saleforce Support to assistance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Void_Check_Screen</name>
        <label>Void Check Screen</label>
        <locationX>1437</locationX>
        <locationY>620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Void_Outcome</targetReference>
        </connector>
        <fields>
            <name>Void_Check_Review_Screen</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Check Name - &lt;FONT KERNING=&quot;1&quot;&gt;{!sov_check.Name}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Amount - &lt;FONT KERNING=&quot;1&quot;&gt;{!sov_check.Amount__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Payee - &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Approved By - &lt;FONT KERNING=&quot;1&quot;&gt;{!sov_check.Approved_By__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Approved Date - &lt;FONT KERNING=&quot;1&quot;&gt;{!sov_check.Approved_Date__c}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Case Details - &lt;FONT COLOR=&quot;#0000CC&quot;&gt;&lt;A HREF=&quot;{!fml_Base_URL}{!sov_check.Case__c}&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;Click Here&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Void_Approval_Outcome</name>
            <choiceReferences>Yes_choice</choiceReferences>
            <choiceReferences>No_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No_Choice</defaultSelectedChoiceReference>
            <fieldText>Void Approval Outcome</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Internal_Employee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>soc_check</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <name>sov_check</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <description>Check Batch IDs</description>
        <name>sovar_check_batch_id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check_Batch__c</objectType>
    </variables>
    <variables>
        <name>startvar_check_batch_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>References the base url on the custom domains.</description>
        <name>var_Base_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Provides the name of the checkbatch name for the reviewer</description>
        <name>var_check_batch_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Provided the check batch status for decision</description>
        <name>var_check_batch_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The DIR employee ID record.</description>
        <name>var_internal_employee_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>check batch reviewer</description>
        <name>var_reviewed_by</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
