force-app/main/default/flows/CheckBatch_Update_Check_IssueDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Permissions</name>
        <label>Permissions?</label>
        <locationX>324</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>NoPermissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HasPermissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CashDisburse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm</targetReference>
            </connector>
            <label>HasPermissions</label>
        </rules>
    </decisions>
    <formulas>
        <name>CashDisburse</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Cashiering_Disbursing}</expression>
    </formulas>
    <interviewLabel>CheckBatch - Update Check.IssueDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckBatch - Update Check.IssueDate</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Checks</name>
        <label>Update Checks</label>
        <locationX>318</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>UpdateCheckBatch</targetReference>
        </connector>
        <filters>
            <field>Check_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCheckBatchId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Voided</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Issue_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Printed</stringValue>
            </value>
        </inputAssignments>
        <object>Check__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCheckBatch</name>
        <label>UpdateCheckBatch</label>
        <locationX>316</locationX>
        <locationY>392</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCheckBatchId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Printed</stringValue>
            </value>
        </inputAssignments>
        <object>Check_Batch__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>320</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Checks</targetReference>
        </connector>
        <fields>
            <name>ConfirmText</name>
            <fieldText>Are you sure you want add the Issue Date of today to all checks within this check batch?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoPermissions</name>
        <label>NoPermissions</label>
        <locationX>574</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoPermissionsTest</name>
            <fieldText>You do not have permission to update the check numbers. Contact your System Administrator if you believe this to be an error.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Permissions</startElementReference>
    <status>Active</status>
    <variables>
        <name>vCheckBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
