force-app/main/default/flows/CheckBatch_Check_Numbers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>475</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>scolCheckAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>scolChecks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncrementStartingCheckNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCheckNumbertoCheck</name>
        <label>AssignCheckNumbertoCheck</label>
        <locationX>355</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>scolChecks.Check_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vStartingCheckNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStartingCheckNumber</name>
        <label>AssignStartingCheckNumber</label>
        <locationX>355</locationX>
        <locationY>121</locationY>
        <assignmentItems>
            <assignToReference>vStartingCheckNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartingCheckNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookupChecks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncrementStartingCheckNumber</name>
        <label>IncrementStartingCheckNumber</label>
        <locationX>670</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>vStartingCheckNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Checks</targetReference>
        </connector>
    </assignments>
    <description>Populate checks with a starting check number</description>
    <interviewLabel>CheckBatch - Check Numbers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CheckBatch - Check Numbers</label>
    <loops>
        <name>Loop_Through_Checks</name>
        <label>Loop Through Checks</label>
        <locationX>355</locationX>
        <locationY>288</locationY>
        <assignNextValueToReference>scolChecks</assignNextValueToReference>
        <collectionReference>colChecks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignCheckNumbertoCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateChecks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>LookupChecks</name>
        <label>LookupChecks</label>
        <locationX>355</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Checks</targetReference>
        </connector>
        <filters>
            <field>Check_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCheckBatchId</elementReference>
            </value>
        </filters>
        <object>Check__c</object>
        <outputReference>colChecks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Check_Number__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateChecks</name>
        <label>UpdateChecks</label>
        <locationX>155</locationX>
        <locationY>400</locationY>
        <inputReference>scolCheckAssignment</inputReference>
    </recordUpdates>
    <screens>
        <name>CheckNumber</name>
        <label>CheckNumber</label>
        <locationX>356</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignStartingCheckNumber</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>Enter your starting check number below and click next. All checks within the Check Batch will be populated.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartingCheckNumber</name>
            <dataType>Number</dataType>
            <fieldText>StartingCheckNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CheckNumber</startElementReference>
    <status>Active</status>
    <variables>
        <name>colCheckNumbers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <name>colChecks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <name>scolCheckAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <name>scolChecks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <name>vCheckBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCheckId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCheckNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vStartingCheckNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
