force-app/main/default/flows/Check_Batch_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Check_Sequence</name>
        <label>Check Sequence</label>
        <locationX>919</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>PreCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCheckCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failed_case_assignment</name>
        <label>Failed case assignment</label>
        <locationX>1717</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>socCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovCaseDisplay</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnoughAmountOnCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FAILEDCaseS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovCaseDisplay.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zero_out_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Last_Element_to_check</name>
        <label>Last Element to check</label>
        <locationX>923</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>LoopEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sequence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Same_case_checks</name>
        <label>Same case checks</label>
        <locationX>1111</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountofChecksonCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovCheck.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCheckCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovCheck.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Checks_with_insufficent_funds_on_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Zero_out_variables</name>
        <label>Zero out variables</label>
        <locationX>1535</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountofChecksonCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_case_checks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Checks_with_insufficent_funds_on_case</name>
        <label>Any Checks with insufficent funds on case</label>
        <locationX>334</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Checks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Failed_checks_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnoughAmountOnCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cases_with_insufficient</targetReference>
            </connector>
            <label>Failed checks found</label>
        </rules>
        <rules>
            <name>No_Failed_Checks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnoughAmountOnCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopEnd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Check_Batch</targetReference>
            </connector>
            <label>No Failed Checks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Batch_Status</name>
        <label>Batch Status</label>
        <locationX>40</locationX>
        <locationY>34</locationY>
        <defaultConnector>
            <targetReference>Invalid_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vBatchStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_cash_on_case_balance</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_batch_checks_against_cash_on_case</name>
        <label>Check the batch checks against cash on case</label>
        <locationX>347</locationX>
        <locationY>38</locationY>
        <defaultConnector>
            <targetReference>Request_Check_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_cash_balance_on_case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fast_Lookup_Checks_on_Batch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Cash_on_Case_with_total_amount_of_checks_on_case</name>
        <label>Compare Cash on Case with total amount of checks on case</label>
        <locationX>1531</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cash_on_Case_is_sufficient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CashAmountOnCase</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TotalAmountofChecksonCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_out_variables</targetReference>
            </connector>
            <label>Cash on Case is sufficient</label>
        </rules>
        <rules>
            <name>Cash_on_case_is_less_than_total_amount_of_checks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CashAmountOnCase</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalAmountofChecksonCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_case_assignment</targetReference>
            </connector>
            <label>Cash on case is less than total amount of checks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Case</name>
        <label>Same Case</label>
        <locationX>1112</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_Check_Amount</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vCheckCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sovCheck.Case__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCheckCaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>START</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_case_checks</targetReference>
            </connector>
            <label>Add Check Amount</label>
        </rules>
        <rules>
            <name>Check_amount_on_case_against_check_total</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovCheck.Case__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vCheckCaseId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCheckCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>START</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Case_check_is_related_to</targetReference>
            </connector>
            <label>Check amount on case against check total</label>
        </rules>
    </decisions>
    <description>Added step to opt out of checking cash balance on case against checks on batch</description>
    <interviewLabel>Check Batch - Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Batch - Submit for Approval</label>
    <loops>
        <name>Loop_Through_Checks</name>
        <label>Loop Through Checks</label>
        <locationX>688</locationX>
        <locationY>39</locationY>
        <assignNextValueToReference>sovCheck</assignNextValueToReference>
        <collectionReference>socCheck</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sequence</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Last_Element_to_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fast_Lookup_Checks_on_Batch</name>
        <label>Fast Lookup Checks on Batch</label>
        <locationX>527</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Checks</targetReference>
        </connector>
        <filters>
            <field>Check_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCheckBatchId</elementReference>
            </value>
        </filters>
        <object>Check__c</object>
        <outputReference>socCheck</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <sortField>Case__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetInternalId</name>
        <label>GetInternalId</label>
        <locationX>1010</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Check_Batch</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>vInternalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_check_is_related_to</name>
        <label>Lookup Case check is related to</label>
        <locationX>1347</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_Cash_on_Case_with_total_amount_of_checks_on_case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreCaseID</elementReference>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>sovCase.Case_Number__c</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CashAmountOnCase</assignToReference>
            <field>Cash_Balance_on_Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovCaseDisplay.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovCaseDisplay.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sovCase.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Check_Batch</name>
        <label>Update Check Batch</label>
        <locationX>1344</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCheckBatchId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_Cashier_Attest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_Cashier__c</field>
            <value>
                <elementReference>vInternalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Check_Batch__c</object>
    </recordUpdates>
    <screens>
        <name>Cases_with_insufficient</name>
        <label>Cases with insufficient funds</label>
        <locationX>383</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failed</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The following Cases have less cash available than the total amount of checks on this check batch. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;http://cadir--uat.cs32.my.salesforce.com/&quot; TARGET=&quot;_blank&quot;&gt;{!FAILEDCaseS}&lt;/A&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;A HREF=&quot;http://cadir--uat.cs32.my.salesforce.com/&quot; TARGET=&quot;_blank&quot;&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_cash_on_case_balance</name>
        <label>Check cash on case balance</label>
        <locationX>199</locationX>
        <locationY>37</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_batch_checks_against_cash_on_case</targetReference>
        </connector>
        <fields>
            <name>Checkbalance</name>
            <fieldText>{!Check_cash_balance_on_case}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_cash_balance_on_case</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Check cash balance on case</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Select this box to check the total amount of checks on a case against the &quot;Cash Balance on Case&quot; they are related to.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>1600</locationX>
        <locationY>488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CheckBatchUpdate</name>
            <fieldText>The check batch has been set to Pending Approval</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Batch</name>
        <label>Invalid Batch</label>
        <locationX>43</locationX>
        <locationY>489</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtInvalidBatch</name>
            <fieldText>This batch is not valid for starting the approval process. It has either already begun or completed review</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Check_Batch</name>
        <label>Request Check Batch</label>
        <locationX>662</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetInternalId</targetReference>
        </connector>
        <fields>
            <name>request_batch</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>By requesting this check batch, I attest that I have provided supporting documentation for each check.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Batch_Status</startElementReference>
    <status>Active</status>
    <variables>
        <name>AmountOnCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <name>CashAmountOnCase</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CashOnCaseAmount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>EnoughAmountOnCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FAILEDCaseS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FAILEDpayees</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopEnd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PreCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>PRE</stringValue>
        </value>
    </variables>
    <variables>
        <description>Collection of check related case to add up amounts</description>
        <name>socCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <description>Collection of checks on a batch</description>
        <name>socCheck</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <description>Cases with insufficent cash on case amounts</description>
        <name>sovCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>sovCaseDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <description>Variable to track the case that each check is allocated to</description>
        <name>sovCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Check__c</objectType>
    </variables>
    <variables>
        <description>A sum of the amount of checks on a case</description>
        <name>TotalAmountofChecksonCase</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Status of batch passed from button</description>
        <name>vBatchStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCheckBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCheckCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>START</stringValue>
        </value>
    </variables>
    <variables>
        <name>vInternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
