force-app/main/default/flows/Cross_Department_New_Case_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_first_deputy_of_new_case</name>
        <label>Notify first deputy of new case</label>
        <locationX>95</locationX>
        <locationY>236</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Query_for_wca_open_cases_with_different_deputy</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OpenCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifyDeputy</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_fourth_deputy_of_new_case</name>
        <label>Notify fourth deputy of new case</label>
        <locationX>670</locationX>
        <locationY>238</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OpenCaseFourtDeputyUserID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifyFourthDeputyofNewCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Second_wca_deputy_of_new_open_case</name>
        <label>Notify Second wca deputy of new open case</label>
        <locationX>215</locationX>
        <locationY>567</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Open_WCA_case_lookup_with_third_deputy</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OpenSecondCaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifySecondDeputy</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_third_wca_deputy_of_new_bofe_case</name>
        <label>Notify third wca deputy of new bofe case</label>
        <locationX>777</locationX>
        <locationY>598</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Open_WCA_Case_with_fourth_deputy</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OpenCaseThirdDeputyUserID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifyThirdDeputyofNewCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Wage_Deputy</name>
        <label>Notify Wage Deputy</label>
        <locationX>1573</locationX>
        <locationY>279</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_Through_Open_BOFE_Cases</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>OpenCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>NotifyDeputy</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_BOFE_Loop_Variables</name>
        <label>Assign BOFE Loop Variables</label>
        <locationX>1181</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>OpenCaseDeputyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpenCaseLoop.Assigned_Deputy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpenCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpenCaseLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpenCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpenCaseLoop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Cases_Record_Type_Names</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_BOFE_record_type</name>
        <label>Check for BOFE record type</label>
        <locationX>1378</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Open_BOFE_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOFE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenCaseRecordTypeName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BOFE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpenCaseLoop.Assigned_Deputy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_BOFE_Internal_Employee</targetReference>
            </connector>
            <label>BOFE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify the record type is either BOFE Intake or BOFE Investigation</description>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>875</locationX>
        <locationY>102</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BOFE_Record_Types</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BOFE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_for_open_WCA_cases_for_same_account</targetReference>
            </connector>
            <label>BOFE Record Types</label>
        </rules>
        <rules>
            <name>Wage_or_Garment_Record_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>WCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Garment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_for_BOFE_Open_Cases</targetReference>
            </connector>
            <label>Wage or Garment Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>open_case_with_fourth_deputy</name>
        <label>open case with fourth deputy</label>
        <locationX>655</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>found_fourth_deputy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenCaseFourthDeputyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Fourth_Case_Deputy_User_ID</targetReference>
            </connector>
            <label>found fourth deputy</label>
        </rules>
    </decisions>
    <decisions>
        <name>open_case_with_third_deputy</name>
        <label>open case with third deputy</label>
        <locationX>472</locationX>
        <locationY>529</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>found_third_deputy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenCaseThirdDeputyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_third_deputy_user_id</targetReference>
            </connector>
            <label>found third deputy</label>
        </rules>
    </decisions>
    <decisions>
        <name>open_cases_with_second_deputy</name>
        <label>open cases with second deputy</label>
        <locationX>271</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>found_second_deputy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenCaseSecondDeputy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_wca_case_second_deputy_user_id_lookup</targetReference>
            </connector>
            <label>found second deputy</label>
        </rules>
    </decisions>
    <decisions>
        <name>open_wca_case_with_assigned_deputy</name>
        <label>open wca case with assigned deputy</label>
        <locationX>359</locationX>
        <locationY>229</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>open_case_with_assigned_deputy_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenCaseDeputyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_first_user_id_for_notification</targetReference>
            </connector>
            <label>open case with assigned deputy exists</label>
        </rules>
    </decisions>
    <description>SOQL limit fix for accounts with large case count due to fast lookups.</description>
    <interviewLabel>Cross Department New Case Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cross Department New Case Notification</label>
    <loops>
        <name>Loop_Through_Open_BOFE_Cases</name>
        <label>Loop Through Open BOFE Cases</label>
        <locationX>1384</locationX>
        <locationY>198</locationY>
        <assignNextValueToReference>OpenCaseLoop</assignNextValueToReference>
        <collectionReference>OpenCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_BOFE_Loop_Variables</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Cases_Record_Type_Names</name>
        <label>Get Open Cases Record Type Names</label>
        <locationX>1178</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_BOFE_record_type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenCaseLoop.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OpenCaseRecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_BOFE_Internal_Employee</name>
        <label>Lookup BOFE Internal Employee</label>
        <locationX>1584</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Wage_Deputy</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenCaseDeputyId</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseDeputyUserId</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_first_user_id_for_notification</name>
        <label>Lookup first user id for notification</label>
        <locationX>217</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_first_deputy_of_new_case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenCaseDeputyId</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseDeputyUserId</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_third_deputy_user_id</name>
        <label>Lookup third deputy user id</label>
        <locationX>598</locationX>
        <locationY>640</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_third_wca_deputy_of_new_bofe_case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenCaseThirdDeputyID</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseThirdDeputyUserID</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Open_Fourth_Case_Deputy_User_ID</name>
        <label>Open Fourth Case Deputy User ID</label>
        <locationX>800</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_fourth_deputy_of_new_case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenCaseFourthDeputyID</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseFourtDeputyUserID</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Open_WCA_case_lookup_with_third_deputy</name>
        <label>Open WCA case lookup with third deputy</label>
        <locationX>370</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>open_case_with_third_deputy</targetReference>
        </connector>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpenCaseDeputyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpenCaseSecondDeputy</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployerAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseThirdDeputyName</assignToReference>
            <field>Assigned_Deputy_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenCaseThirdDeputyID</assignToReference>
            <field>Assigned_Deputy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenThirdCaseNumber</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenThirdCaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Open_wca_case_second_deputy_user_id_lookup</name>
        <label>Open wca case second deputy user id lookup</label>
        <locationX>78</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Second_wca_deputy_of_new_open_case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpenCaseSecondDeputy</elementReference>
            </value>
        </filters>
        <object>DIR_Employee__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseSecondDeputyUserID</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Open_WCA_Case_with_fourth_deputy</name>
        <label>Open WCA Case with fourth deputy</label>
        <locationX>851</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>open_case_with_fourth_deputy</targetReference>
        </connector>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpenCaseDeputyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpenCaseSecondDeputy</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpenCaseThirdDeputyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployerAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseFourthDeputyName</assignToReference>
            <field>Assigned_Deputy_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenCaseFourthDeputyID</assignToReference>
            <field>Assigned_Deputy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenFourthCaseNumber</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenFourthCaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Query_for_BOFE_Open_Cases</name>
        <label>Query for BOFE Open Cases</label>
        <locationX>1383</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Open_BOFE_Cases</targetReference>
        </connector>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployerAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BOFE</stringValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputReference>OpenCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Assigned_Deputy__c</queriedFields>
        <queriedFields>Assigned_Deputy_Name__c</queriedFields>
        <queriedFields>Case_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Query_for_open_WCA_cases_for_same_account</name>
        <label>Query for open WCA cases for same account</label>
        <locationX>451</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>open_wca_case_with_assigned_deputy</targetReference>
        </connector>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployerAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseAssignedDeputyName</assignToReference>
            <field>Assigned_Deputy_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenCaseDeputyId</assignToReference>
            <field>Assigned_Deputy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenCaseNumber</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenCaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Query_for_wca_open_cases_with_different_deputy</name>
        <label>Query for wca open cases with different deputy</label>
        <locationX>40</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>open_cases_with_second_deputy</targetReference>
        </connector>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OpenCaseDeputyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_Deputy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployerAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>OpenCaseSecondAssignedDeputyName</assignToReference>
            <field>Assigned_Deputy_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenCaseSecondDeputy</assignToReference>
            <field>Assigned_Deputy__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenSecondCaseNumber</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpenSecondCaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <startElementReference>Check_Record_Type</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>NotifyDeputy</name>
        <text>@[{!OpenCaseDeputyUserId}] - Another case has been created against the same employer. The case name is {!OpenCaseNumber}.</text>
    </textTemplates>
    <textTemplates>
        <name>NotifyFourthDeputyofNewCase</name>
        <text>@[{!OpenCaseFourtDeputyUserID}] - Another case has been created against the same employer. The case name is {!OpenFourthCaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <description>Notifies second deputy of an open case</description>
        <name>NotifySecondDeputy</name>
        <text>@[{!OpenCaseSecondDeputyUserID}] - Another case has been created against the same employer. The Case Name is {!OpenSecondCaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>NotifyThirdDeputyofNewCase</name>
        <text>@[{!OpenCaseThirdDeputyUserID}] - Another case hase been created against the same employer. The case name is {!OpenThirdCaseNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>TestingCross</name>
        <text>Testing Cross Department Notification

{!EmployerAccountId}

--{!RecordType}</text>
    </textTemplates>
    <variables>
        <name>EmployerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseAssignedDeputyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseDeputyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseDeputyUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseFourtDeputyUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseFourthDeputyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseFourthDeputyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>OpenCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DIR_Case__c</objectType>
    </variables>
    <variables>
        <name>OpenCaseSecondAssignedDeputyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Second deputy assigned to cases on the same account</description>
        <name>OpenCaseSecondDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseSecondDeputyUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseThirdDeputyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseThirdDeputyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenCaseThirdDeputyUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenFourthCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenFourthCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenSecondCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenSecondCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenThirdCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpenThirdCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
