force-app/main/default/flows/HR_New_Recursive_MTT_and_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Ttraining_Email_Notification</name>
        <label>New Ttraining Email Notification</label>
        <locationX>540</locationX>
        <locationY>95</locationY>
        <actionName>HR_Mandatory_Training_Tracking__c.HR_Send_New_Training_Email_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarCurrentMTT_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Reminder_Every_2_Months</name>
        <label>Send Reminder Every 2 Months</label>
        <locationX>541</locationX>
        <locationY>271</locationY>
        <actionName>HR_Mandatory_Training_Tracking__c.HR_Send_Training_Email_Notification_First_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Training_Reminder_Record</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>VarCurrentMTT_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Appointment_Holding_Status</name>
        <label>Appointment Holding Status</label>
        <locationX>147</locationX>
        <locationY>100</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Appointment_is_NOT_Expired_New_Recursive_MTT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAppointmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAppointmentEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarSendReminder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_Recursive_Training_Record</targetReference>
            </connector>
            <label>Appointment is NOT Expired New Recursive MTT</label>
        </rules>
        <rules>
            <name>Appointment_is_NOT_Expired_Send_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarAppointmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarAppointmentEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarSendReminder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarTrainingCompletionDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reminder_Every_2_Months</targetReference>
            </connector>
            <label>Appointment is NOT Expired Send Reminder</label>
        </rules>
        <rules>
            <name>Send_Imediate_new_MTT_Email_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarSendReminder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New MTT Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Ttraining_Email_Notification</targetReference>
            </connector>
            <label>Send Imediate new MTT Email Notification</label>
        </rules>
    </decisions>
    <description>Create new MTT record recursively and sends out reminder every 2 months until Appointment is expired ore training  is completed</description>
    <interviewLabel>HR New Recursive MTT and Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HR New Recursive MTT and Reminders</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record_Recursive_Training_Record</name>
        <label>Create Record Recursive Training Record</label>
        <locationX>149</locationX>
        <locationY>393</locationY>
        <assignRecordIdToReference>VarRecursiveMTT_ID</assignRecordIdToReference>
        <inputAssignments>
            <field>Appointment__c</field>
            <value>
                <elementReference>VarAppointmentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarMTTrecordtypeID</elementReference>
            </value>
        </inputAssignments>
        <object>HR_Mandatory_Training_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Training_Reminder_Record</name>
        <label>Create Training Reminder Record</label>
        <locationX>793</locationX>
        <locationY>275</locationY>
        <inputAssignments>
            <field>HR_Mandatory_Training_Tracking__c</field>
            <value>
                <elementReference>VarCurrentMTT_ID</elementReference>
            </value>
        </inputAssignments>
        <object>HR_Mandatory_Training_Reminder__c</object>
    </recordCreates>
    <startElementReference>Appointment_Holding_Status</startElementReference>
    <status>Active</status>
    <variables>
        <description>if Appointment End Date is filled, Appointment is expired, no training record is to be created</description>
        <name>VarAppointmentEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAppointmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The current MTT ID, not the to be created MTT ID (recursive record)</description>
        <name>VarCurrentMTT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Training Tracking record typ ID</description>
        <name>VarMTTrecordtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRecursiveMTT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarSendReminder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Checking if training is completed, if so stop sending reminder</description>
        <name>VarTrainingCompletionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTrainingDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
