force-app/main/default/flows/Judgment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chatters on the judgment that the attempt to update the case stage failed</description>
        <name>Case_Update_Fault_Chatter</name>
        <label>Case Update Fault Chatter</label>
        <locationX>939</locationX>
        <locationY>234</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varJudgmentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[SF_Admins] Attempt to update the case stage on the parent Case failed.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Flow_Started</name>
        <label>Flow Started</label>
        <locationX>301</locationX>
        <locationY>391</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Rec_Type</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varJudgmentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Judgment Flow Started. Valid Inputs</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Chatters on judgment that the interest calculation is not necessary</description>
        <name>Interest_Calculation_Unnecessary</name>
        <label>Interest Calculation Unnecessary</label>
        <locationX>1143</locationX>
        <locationY>620</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varJudgmentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Judgment did not meet criteria for calculating interest. Check that the interest rate is set, the mailing date is set, the record type is accurate and the status is &quot;open.&quot;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Interest_rate_fault</name>
        <label>Interest rate fault</label>
        <locationX>764</locationX>
        <locationY>737</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varJudgmentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Attempt to retrieve interest rate for this judgment failed. Please get the interest rate from the Interest custom setting and update the Interest Rate field. This failure was in the flow &quot;Judgment Flow&quot;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Interest_rate_fault_0</name>
        <label>Interest Rate update fault</label>
        <locationX>941</locationX>
        <locationY>735</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varJudgmentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Attempt to update the interest rate for this judgment failed. Please get the interest rate from the Interest custom setting and update the Interest Rate field. This failure was in the flow &quot;Judgment Flow&quot;</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Chatters on the judgment that the attempt to update the inputs the flow were invalid.</description>
        <name>Invalid_Input_Fault_Chatter</name>
        <label>Invalid Input fault Chatter</label>
        <locationX>461</locationX>
        <locationY>389</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varJudgmentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[SF_Admins] Inputs the the &quot;Judgment Flow&quot; were invalid. The flow exited</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>301</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>varJudgmentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2GZ0000000imN1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WCA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJudgmentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJudgmentAmt</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3628.88</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMailingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2015-11-16</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolMailingDateChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inputs_Valid</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Ensures that all inputs necessary to start the flow have been passed</description>
        <name>Inputs_Valid</name>
        <label>Inputs Valid?</label>
        <locationX>301</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Invalid_Input_Fault_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inputs Invalid</defaultConnectorLabel>
        <rules>
            <name>Outcome_Inputs_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varJudgmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varJudgmentStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Started</targetReference>
            </connector>
            <label>Inputs Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if an interest calculation is necessary and what type</description>
        <name>Interest_Calc_Necessary</name>
        <label>Interest Calc Necessary?</label>
        <locationX>939</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Mailing_Date_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WCA_Post_Hearing_Interest</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMailingDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolMailingDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varJudgmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varJudgmentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Payment Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Interest_on_Judgment</targetReference>
            </connector>
            <label>WCA Post Hearing Interest</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the interest rate has been set on the judgment for calculation of interest at future date.</description>
        <name>Interest_Rate_Set</name>
        <label>Interest Rate Set?</label>
        <locationX>763</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Get_interest_rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varJudgmentInterestRate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_Calc_Necessary</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines that the mailing date changed and that it is necessary to display an error message</description>
        <name>Mailing_Date_changed</name>
        <label>Mailing Date Changed?</label>
        <locationX>1148</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolMailingDateChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_Calculation_Unnecessary</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Judgment</name>
        <label>New Judgment?</label>
        <locationX>538</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Interest_Rate_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Stage</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Allows logic to be based on the rec type of the judgment</description>
        <name>Rec_Type</name>
        <label>Rec Type?</label>
        <locationX>302</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>WCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Judgment</targetReference>
            </connector>
            <label>WCA</label>
        </rules>
    </decisions>
    <description>Change: included new Open statuses on Judgment in decision &quot;Interest Calc Necessary?&quot;</description>
    <formulas>
        <description>Formula to determine if the judgment is new or not.</description>
        <name>frmIsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!varCreatedDate} = {!varLastModifiedDate} &amp;&amp; {!varJudgmentStatus} &lt;&gt; &#39;Preliminary&#39; , True, False)</expression>
    </formulas>
    <interviewLabel>Judgment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Judgment Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_interest_rate</name>
        <label>Get interest rate</label>
        <locationX>764</locationX>
        <locationY>622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_interest_on_judgment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Interest_rate_fault</targetReference>
        </faultConnector>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Judgment__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WCA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Interest__c</object>
        <outputAssignments>
            <assignToReference>varInterestRate</assignToReference>
            <field>Interest_Rate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the case stage to judgment on the parent case.</description>
        <name>Update_Case_Stage</name>
        <label>Update Case Stage</label>
        <locationX>648</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Interest_Rate_Set</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Case_Update_Fault_Chatter</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Stage__c</field>
            <value>
                <stringValue>Judgment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Judgment Issued</stringValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>sets the interest rate on the judgment object for the calculation of future interest due.</description>
        <name>Update_interest_on_judgment</name>
        <label>Update interest on judgment</label>
        <locationX>941</locationX>
        <locationY>622</locationY>
        <connector>
            <targetReference>Interest_Calc_Necessary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Interest_rate_fault_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varJudgmentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interest_Rate__c</field>
            <value>
                <elementReference>varInterestRate</elementReference>
            </value>
        </inputAssignments>
        <object>Judgement__c</object>
    </recordUpdates>
    <startElementReference>Inputs_Valid</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Calculate_Interest_on_Judgment</name>
        <label>Calculate Interest on Judgment</label>
        <locationX>937</locationX>
        <locationY>366</locationY>
        <flowName>Calculate_Violation_Interest</flowName>
        <inputAssignments>
            <name>varJudgmentID</name>
            <value>
                <elementReference>varJudgmentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecType</name>
            <value>
                <elementReference>varRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStatus</name>
            <value>
                <elementReference>varJudgmentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varJudgmentMailingDate</name>
            <value>
                <elementReference>varMailingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varJudgmentAmt</name>
            <value>
                <elementReference>varJudgmentAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInterestRate</name>
            <value>
                <elementReference>varInterestRate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHearingEffectiveDate</name>
            <value>
                <elementReference>varHearingEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varODABySettlementDate</name>
            <value>
                <elementReference>varODABySettlementDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varJudgmentType</name>
            <value>
                <elementReference>varJudgmentType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Passed from PB indicating that the mailing date has changed and, therefore, interest calc is required.</description>
        <name>boolMailingDateChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Case ID of the parent case of the judgment</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created Date of the judgment passed from the flow. Used to determine if the record is new or not</description>
        <name>varCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Effective date of hearing passed from PB</description>
        <name>varHearingEffectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Interest Rate looked up from the interest custom setting</description>
        <name>varInterestRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <description>Amount of the judgment that started the flow</description>
        <name>varJudgmentAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>ID of the judgment that triggered the flow</description>
        <name>varJudgmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Interest Rate field from Judgment</description>
        <name>varJudgmentInterestRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <description>Status of the judgment that started the flow</description>
        <name>varJudgmentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>judgment type passed by PB</description>
        <name>varJudgmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Last modified date of the judgment that triggered the flow. Used to determine if the judgment is new or not</description>
        <name>varLastModifiedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Mailing date set on the judgment</description>
        <name>varMailingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ODA by settlment date from the settlement passed by PB</description>
        <name>varODABySettlementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds value of post hearing interest passed from PB for judgments that have interest already calculated</description>
        <name>varPostHearingInterest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Record type of the judgment that triggered the flow</description>
        <name>varRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
