force-app/main/default/flows/Judgment_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Liable_Party_to_Collection</name>
        <label>Add Liable Party to Collection</label>
        <locationX>1238</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>LiablePartiestoInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objLiabilityJudgement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Liablity_parties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assings values from instance in collection to variable for creation of liability judgement records</description>
        <name>AddODAPartytoCollection</name>
        <label>Add Party to collection</label>
        <locationX>1722</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>ODAPartiestoInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objLiabilityJudgement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_ODA_parties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assings values from instance in collection to variable for creation of liability judgement records</description>
        <name>AddODAPartytoCollection_0</name>
        <label>Add Party to collection</label>
        <locationX>1641</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>colSettlementPartiestoInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objLiabilityJudgement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Settling_Parties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Judgement_Liability_sObject_Record</name>
        <label>Create Judgement Liability sObject Record</label>
        <locationX>1554</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>objLiabilityJudgement.Judgement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vJudgmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objLiabilityJudgement.Liable_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objODALiableParty.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddODAPartytoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Judgement_Liability_sObject_Record_0</name>
        <label>Create Judgement Liability sObject Record</label>
        <locationX>1466</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>objLiabilityJudgement.Judgement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vJudgmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objLiabilityJudgement.Liable_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSettlingParties.Liable_Party__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddODAPartytoCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Judgement_Liability_sObject_Record_2</name>
        <label>Create Judgement Liability sObject Record</label>
        <locationX>1055</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>objLiabilityJudgement.Judgement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vJudgmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objLiabilityJudgement.Liable_Party__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objLiablityLiableParty.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Liable_Party_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Interest_Accruing_Amount</name>
        <label>Set Interest Accruing Amount</label>
        <locationX>1171</locationX>
        <locationY>1006</locationY>
        <assignmentItems>
            <assignToReference>vAmountsDueAccrueInterest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ODA_Amount_that_Accrues_Interest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ODA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the user entered the amount or not to continue flow or end.</description>
        <name>Check_Amount</name>
        <label>Check Amount</label>
        <locationX>856</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Not Entered</defaultConnectorLabel>
        <rules>
            <name>Value_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ODA_Amount_that_Accrues_Interest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ODA_Amount_that_Accrues_Interest</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Interest_Accruing_Amount</targetReference>
            </connector>
            <label>Value Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Input</name>
        <label>Initial Input</label>
        <locationX>267</locationX>
        <locationY>251</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Liability_Record_Type</targetReference>
            </connector>
            <label>Liability</label>
        </rules>
        <rules>
            <name>Other_Object_Types</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Inputs</targetReference>
            </connector>
            <label>Other Object Types</label>
        </rules>
    </decisions>
    <decisions>
        <name>Interest_Amount_Populated</name>
        <label>Interest Amount Populated?</label>
        <locationX>859</locationX>
        <locationY>715</locationY>
        <defaultConnector>
            <targetReference>Require_Amount_for_Interest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not populated</defaultConnectorLabel>
        <rules>
            <name>Interest_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAmountsDueAccrueInterest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAmountsDueAccrueInterest</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Judgment_0</targetReference>
            </connector>
            <label>Interest Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Judgment_RT_Located</name>
        <label>Judgment RT Located</label>
        <locationX>666</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Located</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vJudgmentRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_Type</targetReference>
            </connector>
            <label>Located</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the object type passed from the vfp parameter</description>
        <name>Object_Type</name>
        <label>Object Type</label>
        <locationX>859</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Judgment</targetReference>
            </connector>
            <label>Settlement</label>
        </rules>
        <rules>
            <name>ODA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ODA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interest_Amount_Populated</targetReference>
            </connector>
            <label>ODA</label>
        </rules>
        <rules>
            <name>LiabilitObjType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Judgment_from_Liability</targetReference>
            </connector>
            <label>Liability</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parties_Found_to_Add</name>
        <label>Parties to Add</label>
        <locationX>1775</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>scrAddPartiesError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Parties_to_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ODAPartiestoInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Liability_Judgment_Records</targetReference>
            </connector>
            <label>Parties to Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parties_Found_to_Add_0</name>
        <label>Parties to Add</label>
        <locationX>1682</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>scrAddPartiesError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Parties_to_Add_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colSettlementPartiestoInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Liability_Judgment_Records_0</targetReference>
            </connector>
            <label>Parties to Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parties_to_Add_From_Liablity</name>
        <label>Parties to Add</label>
        <locationX>1374</locationX>
        <locationY>92</locationY>
        <defaultConnector>
            <targetReference>ScreenAddPartyErr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Parties_to_Add_LiablitytoJudgement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LiablePartiestoInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Liable_Party_Records</targetReference>
            </connector>
            <label>Parties to Add</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures that the inputs for the flow are valid</description>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>263</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>scrInvalidInputs_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No valid Object Type</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ODA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Record_Type</targetReference>
            </connector>
            <label>Valid ODA</label>
        </rules>
        <rules>
            <name>Valid_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Record_Type</targetReference>
            </connector>
            <label>Valid Settlement</label>
        </rules>
        <rules>
            <name>Invalid_ODA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ODA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrInvalidInputs_0</targetReference>
            </connector>
            <label>Invalid ODA</label>
        </rules>
        <rules>
            <name>Invalid_Settlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrInvalidInputs</targetReference>
            </connector>
            <label>Invalid Settlement</label>
        </rules>
        <rules>
            <name>Valid_Liability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Record_Type</targetReference>
            </connector>
            <label>Valid Liability</label>
        </rules>
    </decisions>
    <description>Judgement can be created from Liability, Settlement &amp; ODA</description>
    <formulas>
        <description>Judgement Amount = Total Penalties Assesses + Total Wage Assessed + Total Interest Assessed</description>
        <name>CalculateJudgementAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varPenalties} + {!varWages} + {!varInterest}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Changes the text value of the amount that accrues interest to a currency for calculation</description>
        <name>flaAmtAccruesInterestCurr</name>
        <dataType>Currency</dataType>
        <expression>VALUE( {!vAmountsDueAccrueInterest} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Uses the object type as input to define the value for the Judgment Type field on the judgment</description>
        <name>flaJudgmentType</name>
        <dataType>String</dataType>
        <expression>CASE ( {!vObjectType} ,
&#39;Settlement&#39;, &#39;ODA By Settlement&#39; , 
&#39;ODA&#39; , &#39;ODA&#39;,
NULL )</expression>
    </formulas>
    <formulas>
        <name>formula_InterestRate</name>
        <dataType>Number</dataType>
        <expression>ROUND(VALUE({!vInterestRate}), 2)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula_PostHearingInterestDue</name>
        <dataType>Currency</dataType>
        <expression>(
{!flaAmtAccruesInterestCurr}
*
(({!Judgment_Mailing_Date} - {!vODABySettlementDate}) / 365)
*
{!formula_InterestRate}
)
/ 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>To assign the Judgment Mail Date to Today</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Judgment Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Judgment Create</label>
    <loops>
        <name>Check_Liable_Parties_to_Add</name>
        <label>Check Liable Parties to Add</label>
        <locationX>1834</locationX>
        <locationY>254</locationY>
        <assignNextValueToReference>objLiabilityJudgement</assignNextValueToReference>
        <collectionReference>LiablePartiestoInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LiablePartiesInsertDebug</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Liable_Party_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Check_Parties_to_Add</name>
        <label>Check Parties to Add</label>
        <locationX>2057</locationX>
        <locationY>885</locationY>
        <assignNextValueToReference>objLiabilityJudgement</assignNextValueToReference>
        <collectionReference>ODAPartiestoInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PartiesToInsertDebug</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Liability_Judgment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Liablity_parties</name>
        <label>Loop over Liablity parties</label>
        <locationX>1052</locationX>
        <locationY>92</locationY>
        <assignNextValueToReference>objLiablityLiableParty</assignNextValueToReference>
        <collectionReference>colLiablityLiableParties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Judgement_Liability_sObject_Record_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Parties_to_Add_From_Liablity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_ODA_parties</name>
        <label>Loop over ODA parties</label>
        <locationX>1550</locationX>
        <locationY>737</locationY>
        <assignNextValueToReference>objODALiableParty</assignNextValueToReference>
        <collectionReference>colODALiableParties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Judgement_Liability_sObject_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Parties_Found_to_Add</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Settling_Parties</name>
        <label>Loop Through Settling Parties</label>
        <locationX>1467</locationX>
        <locationY>491</locationY>
        <assignNextValueToReference>vSettlingParties</assignNextValueToReference>
        <collectionReference>svSettlingParties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Judgement_Liability_sObject_Record_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Parties_Found_to_Add_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Judgment</name>
        <label>Create Judgment</label>
        <locationX>1125</locationX>
        <locationY>409</locationY>
        <assignRecordIdToReference>vJudgmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Settlement_Parties</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vJudgmentRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preliminary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA By Settlement</stringValue>
            </value>
        </inputAssignments>
        <object>Judgement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Judgment_0</name>
        <label>Create Judgment</label>
        <locationX>1177</locationX>
        <locationY>740</locationY>
        <assignRecordIdToReference>vJudgmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_ODA_Liable_Parties</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting__c</field>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vJudgmentRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Preliminary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>ODA</stringValue>
            </value>
        </inputAssignments>
        <object>Judgement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Judgment_from_Liability</name>
        <label>Create Judgment From Liability</label>
        <locationX>854</locationX>
        <locationY>225</locationY>
        <assignRecordIdToReference>vJudgmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Liable_Parties</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Management__c</field>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judgement_Amount__c</field>
            <value>
                <elementReference>CalculateJudgementAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judgment_Mailing_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>vJudgmentRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending/Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>JEU</stringValue>
            </value>
        </inputAssignments>
        <object>Judgement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Liability_Judgment_Records</name>
        <label>Create Liability Judgment Records</label>
        <locationX>2160</locationX>
        <locationY>730</locationY>
        <connector>
            <targetReference>Update_Judgment_Status</targetReference>
        </connector>
        <inputReference>ODAPartiestoInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Liability_Judgment_Records_0</name>
        <label>Create Liability Judgment Records</label>
        <locationX>1973</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>Lookup_Settlement_Data</targetReference>
        </connector>
        <inputReference>colSettlementPartiestoInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Liable_Party_Records</name>
        <label>Create Liable Party Records</label>
        <locationX>1831</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>Update_Liablity_Judgement_Status</targetReference>
        </connector>
        <inputReference>LiablePartiestoInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ODA_Liable_Parties</name>
        <label>Get ODA Liable Parties</label>
        <locationX>1369</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_ODA_parties</targetReference>
        </connector>
        <filters>
            <field>ODA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>Liable_Party__c</object>
        <outputReference>colODALiableParties</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Liability_Record_Type</name>
        <label>Lookup Liability Record Type</label>
        <locationX>496</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Judgment_RT_Located</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JEU</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Judgement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vJudgmentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Liable_Parties</name>
        <label>Lookup Liable Parties</label>
        <locationX>851</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Liablity_parties</targetReference>
        </connector>
        <filters>
            <field>Liability__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>Liable_Party__c</object>
        <outputReference>colLiablityLiableParties</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type</name>
        <label>Lookup Record Type</label>
        <locationX>507</locationX>
        <locationY>414</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Judgment_RT_Located</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WCA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Judgement__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vJudgmentRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Settlement_Data</name>
        <label>Lookup Settlement Data</label>
        <locationX>1975</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Judgment_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>Settlement__c</object>
        <outputAssignments>
            <assignToReference>vAmountsDueAccrueInterest</assignToReference>
            <field>Amounts_Due_that_Accrue_Interest__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDefaultAmount</assignToReference>
            <field>Default_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSettlementInterestAmount</assignToReference>
            <field>Interest_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vODABySettlementDate</assignToReference>
            <field>ODA_By_Settlment_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Settlement_Parties</name>
        <label>Lookup Settlement Parties</label>
        <locationX>1281</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Settling_Parties</targetReference>
        </connector>
        <filters>
            <field>Settlement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <object>Settling_Parties__c</object>
        <outputReference>svSettlingParties</outputReference>
        <queriedFields>Liable_Party__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Judgment_Settlement</name>
        <label>Update Judgment - Settlement</label>
        <locationX>2434</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>End_Process</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Judgment_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJudgmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interest_Due__c</field>
            <value>
                <elementReference>formula_PostHearingInterestDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judgement_Amount__c</field>
            <value>
                <elementReference>vDefaultAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Judgment_Mailing_Date__c</field>
            <value>
                <elementReference>Judgment_Mailing_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement_Interest_Amount__c</field>
            <value>
                <elementReference>vSettlementInterestAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Settlement__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Judgement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Judgment_Status</name>
        <label>Update Judgment Status - ODA</label>
        <locationX>2398</locationX>
        <locationY>728</locationY>
        <connector>
            <targetReference>ODA_Judgment_End</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJudgmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ODA__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Judgement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Liablity_Judgement_Status</name>
        <label>Update Liablity Judgement Status</label>
        <locationX>2091</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>End_of_Process</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vJudgmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Liability__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending/Open</stringValue>
            </value>
        </inputAssignments>
        <object>Judgement__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the ODA to set the amount that accrues interest entered on the previous screen</description>
        <name>Update_ODA</name>
        <label>Update ODA</label>
        <locationX>1173</locationX>
        <locationY>886</locationY>
        <connector>
            <targetReference>Create_Judgment_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ODA_Amount_that_accrues_interest__c</field>
            <value>
                <elementReference>flaAmtAccruesInterestCurr</elementReference>
            </value>
        </inputAssignments>
        <object>ODAS__c</object>
    </recordUpdates>
    <screens>
        <name>End_of_Process</name>
        <label>End of Process</label>
        <locationX>2332</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndofLiabilityJudgment</name>
            <fieldText>Click Finish to go to the new Judgment</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_Process</name>
        <label>End Process</label>
        <locationX>2634</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scrEnd</name>
            <fieldText>Click Finish to go to the new Judgment</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Judgment_Info</name>
        <label>Judgment Info</label>
        <locationX>2134</locationX>
        <locationY>602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Interest_Rate</targetReference>
        </connector>
        <fields>
            <name>ODABySettlementDate</name>
            <fieldText>ODA By Settlement Date = {!vODABySettlementDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Judgment_Mailing_Date</name>
            <dataType>Date</dataType>
            <fieldText>Judgment Mailing Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LiablePartiesInsertDebug</name>
        <label>LiablePartiesInsertDebug</label>
        <locationX>1841</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InsertLiablePartiesDebug</name>
            <fieldText>Party to Insert:
Judgment: {!objLiabilityJudgement.Judgement__c}
Liable Party: {!objLiabilityJudgement.Liable_Party__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ODA_Judgment_created_Debug</name>
        <label>ODA_Judgment_created_Debug</label>
        <locationX>1365</locationX>
        <locationY>868</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_ODA_Liable_Parties</targetReference>
        </connector>
        <fields>
            <name>ODA_Judgment_Created_Debug_txt</name>
            <fieldText>Judgment created from ODA path.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ODA_Judgment_End</name>
        <label>ODA Judgment End</label>
        <locationX>2623</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ODAJudgmentCompleteTxt</name>
            <fieldText>Click finish to go to the new judgment</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PartiesToInsertDebug</name>
        <label>PartiesToInsertDebug</label>
        <locationX>2065</locationX>
        <locationY>1100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Parties_to_Add</targetReference>
        </connector>
        <fields>
            <name>PartiestoInsertDebugtext</name>
            <fieldText>Party to insert:
Judgment: {!objLiabilityJudgement.Judgement__c}
Liable Party: {!objLiabilityJudgement.Liable_Party__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Require_Amount_for_Interest</name>
        <label>Require Amount for Interest</label>
        <locationX>858</locationX>
        <locationY>884</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Amount</targetReference>
        </connector>
        <fields>
            <name>txtRequireAmountForInterest</name>
            <fieldText>You must enter an amount in the &quot;ODA Amount that Accrues Interest&quot; field on the ODA before you can create a judgment on this ODA. 

If you know this amount, you may enter it now:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ODA_Amount_that_Accrues_Interest</name>
            <dataType>String</dataType>
            <fieldText>ODA Amount that Accrues Interest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtGoBack</name>
            <fieldText>Otherwise, clicking &quot;Next&quot; will return you to the ODA.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrAddPartiesError</name>
        <label>scrAddPartiesError</label>
        <locationX>1773</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtPartiesToAddError</name>
            <fieldText>No parties were found to add to the Judgment</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>displays details about the pending update to the judgment</description>
        <name>scrDebugJudgmentFromSettlement</name>
        <label>scrDebugJudgmentFromSettlement</label>
        <locationX>2282</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Judgment_Settlement</targetReference>
        </connector>
        <fields>
            <name>txtJudgmentUpdateDebugScreen</name>
            <fieldText>Preparing to update the Judgment {!vJudgmentId} using the values:
Judgment Amount : {!vDefaultAmount} from the default amount on the settlement
Judgment Mailing date : {!Judgment_Mailing_Date} from the entry screen
Settlement : {!varRecordId} the source settlement
Status : Open

Interest Rate Source:
Raw Interest Rate: {!vInterestRate}
Interest Rate Formula: {!formula_InterestRate}

Post Hearing Interest:
Amounts that accrue interest: {!vAmountsDueAccrueInterest}
JudgmentMailingDate: {!Judgment_Mailing_Date}
ODA by Settlement Date: {!vODABySettlementDate}

Post Hearing Interest formula:
{!formula_PostHearingInterestDue}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenAddPartyErr</name>
        <label>ScreenAddPartyErr</label>
        <locationX>1382</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrPartiesAdd</name>
            <fieldText>No parties are found to add to the Judgement</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrInvalidInputs</name>
        <label>scrInvalidInputs</label>
        <locationX>266</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtInvalidInputs</name>
            <fieldText>Unable to create judgment from this settlement. Please ensure that the settlement is setup correctly and that parties have been selected as settling parties.


Debug details for administration and development:
ObjectType: {!vObjectType}
RecordID: {!varRecordId}
CaseID: {!vCaseId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrInvalidInputs_0</name>
        <label>scrInvalidInputs</label>
        <locationX>52</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtInvalidInputs_0</name>
            <fieldText>Unable to create judgment from this ODA. Please ensure that the ODA is setup correctly and that parties have been selected as settling parties.


Debug details for administration and development:
ObjectType: {!vObjectType}
RecordID: {!varRecordId}
CaseID: {!vCaseId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrInvalidInputs_0_0</name>
        <label>scrInvalidInputs</label>
        <locationX>53</locationX>
        <locationY>617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtInvalidInputs_0_0</name>
            <fieldText>Unable to create judgment. No object type was passed. Please provide the below information to the support team.

Debug details for administration and development:
RecordID: {!varRecordId}
CaseID: {!vCaseId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrJudgmentCreatedDebug</name>
        <label>scrJudgmentCreatedDebug</label>
        <locationX>660</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Object_Type</targetReference>
        </connector>
        <fields>
            <name>txtJudgmentCreated</name>
            <fieldText>Judgment Created: {!vJudgmentId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrLiabiltyJudgmentCreatedDebug</name>
        <label>scrLiabiltyJudgmentCreatedDebug</label>
        <locationX>1640</locationX>
        <locationY>250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddODAPartytoCollection_0</targetReference>
        </connector>
        <fields>
            <name>txtLiabJudgDebug</name>
            <fieldText>Liability Judgment sObject created:
{!objLiabilityJudgement}
Judgment: {!objLiabilityJudgement.Judgement__c}
Party: {!objLiabilityJudgement.Liable_Party__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrLiabiltyJudgmentCreatedDebug_0</name>
        <label>scrLiabiltyJudgmentCreatedDebug</label>
        <locationX>1838</locationX>
        <locationY>1007</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddODAPartytoCollection</targetReference>
        </connector>
        <fields>
            <name>txtLiabJudgDebug_0</name>
            <fieldText>Liability Judgment sObject created:
{!objLiabilityJudgement}
Judgment: {!objLiabilityJudgement.Judgement__c}
Party: {!objLiabilityJudgement.Liable_Party__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrODAPartyDebug</name>
        <label>scrODAPartyDebug</label>
        <locationX>1377</locationX>
        <locationY>1007</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Judgement_Liability_sObject_Record</targetReference>
        </connector>
        <fields>
            <name>txtODAPartyDebug</name>
            <fieldText>Currently working on party: {!objODALiableParty.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrSettlingPartyDebug</name>
        <label>scrSettlingPartyDebug</label>
        <locationX>1263</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Judgement_Liability_sObject_Record_0</targetReference>
        </connector>
        <fields>
            <name>txtSettlingPartyDebugText</name>
            <fieldText>Working on Settling Party: {!vSettlingParties.Liable_Party__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrValidDebug</name>
        <label>scrValidDebug</label>
        <locationX>506</locationX>
        <locationY>562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Record_Type</targetReference>
        </connector>
        <fields>
            <name>txtValidDisplay</name>
            <fieldText>Inputs are valid::

ObjectType: {!vObjectType}
CaseID: {!vCaseId}
RecordID: {!varRecordId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Process</name>
        <label>Start Process</label>
        <locationX>71</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initial_Input</targetReference>
        </connector>
        <fields>
            <name>Test1</name>
            <fieldText>Click Next to create a Judgment</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Judgment_Fault</name>
        <label>Update Judgment Fault</label>
        <locationX>2435</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtUpdateJudgmentFault</name>
            <fieldText>A fault occurred attempting to update the judgment.

The values that were to be updated are:

Judgment Amount : {!vDefaultAmount} from the default amount on the settlement
Judgment Mailing date : {!Judgment_Mailing_Date} from the previous screen
Settlement : {!varRecordId} the ID of the source settlement
Status : Open

Interest Rate Source:
Raw Interest Rate: {!vInterestRate}
Interest Rate Formula: {!formula_InterestRate}

Post Hearing Interest:
Amounts that accrue interest: {!vAmountsDueAccrueInterest}
JudgmentMailingDate: {!Judgment_Mailing_Date}
ODA by Settlement Date: {!vODABySettlementDate}

Post Hearing Interest formula:
{!formula_PostHearingInterestDue}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Start_Process</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Interest_Rate</name>
        <label>Get Interest Rate</label>
        <locationX>2136</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>Update_Judgment_Settlement</targetReference>
        </connector>
        <flowName>Calculate_Violation_Interest</flowName>
        <inputAssignments>
            <name>varRecordObject</name>
            <value>
                <stringValue>Settlement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordID</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vInterestRate</assignToReference>
            <name>varInterestRate</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>Displays the information that will be updated on the new judgment created from a settlement</description>
        <name>txtJudgmentUpdateDebug</name>
        <text>Preparing to update the Judgment {!vJudgmentId} using the values:
Judgment Amount : {!vDefaultAmount} from the default amount on the settlement
Judgment Mailing date : {!Judgment_Mailing_Date} from the entry screen
Settlement : {!varRecordId} the source settlement
Status : Open</text>
    </textTemplates>
    <variables>
        <description>collection of liable parties on the Liablity</description>
        <name>colLiablityLiableParties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liable_Party__c</objectType>
    </variables>
    <variables>
        <description>collection of liable parties on the ODA</description>
        <name>colODALiableParties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liable_Party__c</objectType>
    </variables>
    <variables>
        <description>Liable Parties to insert from the settlement</description>
        <name>colSettlementPartiestoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability_Judgement__c</objectType>
    </variables>
    <variables>
        <description>The Liable Parties from Liablities that need to be inserted as liablity judgement records on the new judgement</description>
        <name>LiablePartiestoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability_Judgement__c</objectType>
    </variables>
    <variables>
        <description>Liability Judement record to insert into the judgement</description>
        <name>objLiabilityJudgement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability_Judgement__c</objectType>
    </variables>
    <variables>
        <description>Each instance of the liable parties</description>
        <name>objLiablityLiableParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liable_Party__c</objectType>
    </variables>
    <variables>
        <description>Instance of the liable party from the collection</description>
        <name>objODALiableParty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liable_Party__c</objectType>
    </variables>
    <variables>
        <description>The Liable Parties from the ODA that need to be inserted as liability judgment records on the new judgment</description>
        <name>ODAPartiestoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability_Judgement__c</objectType>
    </variables>
    <variables>
        <name>svSettlingParties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Settling_Parties__c</objectType>
    </variables>
    <variables>
        <description>Amounts due that accrue interest for calculating post hearing interest on judgment

For settlement, retrieved by lookup, ODA passed from button.</description>
        <name>vAmountsDueAccrueInterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Total Interest Assessed (Liability)</description>
        <name>varInterest</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Liable party ID from the collection being looped over</description>
        <name>varLiablePartyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the meeting the ODA was created from. Passed from querystring variable</description>
        <name>varMeetingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Total_Penalties_Assessed__c at Liabilities</description>
        <name>varPenalties</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Record ID of the record that started the flow</description>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Total_wages_Assessed__c at Liabilities</description>
        <name>varWages</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDefaultAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vInterestRate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the judgment created during the flow. Passed back in flow interview to set the finish location.</description>
        <name>vJudgmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vJudgmentRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>values passed from the vfp defining the object that started the flow</description>
        <name>vObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vODABySettlementDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSettlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSettlementInterestAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vSettlingLiableParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSettlingParties</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Settling_Parties__c</objectType>
    </variables>
    <variables>
        <name>vSettlingPartyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
