force-app/main/default/flows/Liability_Payment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invalid_Inputs</name>
        <label>Invalid Inputs</label>
        <locationX>244</locationX>
        <locationY>473</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[Salesforce Support Team] Liability Payment Flow: Attempted to update the liable parties for this payment, but there was an error with the flow inputs.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varLiabiltyPaymentID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Liable_Party_Update_Error</name>
        <label>Liable Party Update Error</label>
        <locationX>703</locationX>
        <locationY>693</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[Salesforce Support Team] Liability Payment Flow: An update of the payment amounts on a Liable Party failed. Update manually.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varLiablePartyID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_To_Interest_Amount_Received</name>
        <label>Add To Interest Amount Received</label>
        <locationX>1161</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>varInterestAmountReceived</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objLiabilityPayment.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_LPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Penalty_Amount_Received</name>
        <label>Add To Penalty Amount Received</label>
        <locationX>1296</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varPenaltyAmountReceived</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objLiabilityPayment.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_LPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Wage_Amount_Received</name>
        <label>Add To Wage Amount Received</label>
        <locationX>1030</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>varWageAmountReceived</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objLiabilityPayment.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_LPs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inputs_Valid</name>
        <label>Inputs Valid</label>
        <locationX>234</locationX>
        <locationY>261</locationY>
        <defaultConnector>
            <targetReference>Invalid_Inputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLiabiltyPaymentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLiablePartyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_LPs_on_a_Liable_Party</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>LPs_found</name>
        <label>LPs found?</label>
        <locationX>526</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colLiabilityPayments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_LPs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Applied_To</name>
        <label>Payment Applied To?</label>
        <locationX>1148</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objLiabilityPayment.Payment_Applied_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wages</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Wage_Amount_Received</targetReference>
            </connector>
            <label>Wages</label>
        </rules>
        <rules>
            <name>Interest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objLiabilityPayment.Payment_Applied_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Interest_Amount_Received</targetReference>
            </connector>
            <label>Interest</label>
        </rules>
        <rules>
            <name>Penalties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objLiabilityPayment.Payment_Applied_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Penalties</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Penalty_Amount_Received</targetReference>
            </connector>
            <label>Penalties</label>
        </rules>
    </decisions>
    <description>Updates the parent Liable Party&#39;s amounts received by summing all of that Liable Party&#39;s Liability Payments, according to whether that payment was applied to wages, penalties or interest.</description>
    <interviewLabel>Liability Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Liability Payment Flow</label>
    <loops>
        <name>Iterate_Over_LPs</name>
        <label>Iterate Over LPs</label>
        <locationX>701</locationX>
        <locationY>252</locationY>
        <assignNextValueToReference>objLiabilityPayment</assignNextValueToReference>
        <collectionReference>colLiabilityPayments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Payment_Applied_To</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Liable_Party</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_LPs_on_a_Liable_Party</name>
        <label>Get All LPs on a Liable Party</label>
        <locationX>400</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LPs_found</targetReference>
        </connector>
        <filters>
            <field>Payment_on_Behalf_of__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLiablePartyID</elementReference>
            </value>
        </filters>
        <object>Liability_Payment__c</object>
        <outputReference>colLiabilityPayments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Payment_Amount__c</queriedFields>
        <queriedFields>Payment_Applied_To__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Liable_Party</name>
        <label>Update Liable Party</label>
        <locationX>699</locationX>
        <locationY>518</locationY>
        <faultConnector>
            <targetReference>Liable_Party_Update_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLiablePartyID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interest_Amount_Received__c</field>
            <value>
                <elementReference>varInterestAmountReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Penalty_Amount_Collected__c</field>
            <value>
                <elementReference>varPenaltyAmountReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wage_Amount_Collected__c</field>
            <value>
                <elementReference>varWageAmountReceived</elementReference>
            </value>
        </inputAssignments>
        <object>Liable_Party__c</object>
    </recordUpdates>
    <startElementReference>Inputs_Valid</startElementReference>
    <status>Active</status>
    <variables>
        <name>colLiabilityPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability_Payment__c</objectType>
    </variables>
    <variables>
        <name>objLiabilityPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Liability_Payment__c</objectType>
    </variables>
    <variables>
        <name>varInterestAmountReceived</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>ID of the triggering Liability Payment record</description>
        <name>varLiabiltyPaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the Liable Party the payment was on behalf of if it was set.</description>
        <name>varLiablePartyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPenaltyAmountReceived</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varWageAmountReceived</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
