force-app/main/default/flows/Meeting_Scheduled_or_Rescheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_on_Registration</name>
        <label>Chatter on Registration</label>
        <locationX>1152</locationX>
        <locationY>472</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hearing scheduled on case related to this registration</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>debugInFlow</name>
        <label>debugInFlow</label>
        <locationX>505</locationX>
        <locationY>117</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Meeting_Rec_Type</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>MeetingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Started Meeting Schedule or Rescheduled flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sends email to BOFE deputy notifying them that the conference has been scheduled</description>
        <name>Email_BOFE_Deputy</name>
        <label>Email BOFE Deputy</label>
        <locationX>720</locationX>
        <locationY>642</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Launch_Create_Events_Flow</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailtoBOFEDeputy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WCA Conference Scheduled for an employer that has an open BOFE Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>BOFEAssignedDeputyEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Contains assignment for all variables used in this flow. Can be used for development and testing.</description>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>293</locationX>
        <locationY>121</locationY>
        <assignmentItems>
            <assignToReference>MeetingID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1HZ0000001ReN5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1BZ0000001BE6H</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WCA_Conference</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployerAccountID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Inputs_Valid</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BOFE_Case_Found</name>
        <label>BOFE Case Found</label>
        <locationX>507</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>Launch_Create_Events_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BOFEAssignedDeputyEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_BOFE_Deputy</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures that the variables are populated from the parent flow/Process appropriately.</description>
        <name>Inputs_Valid</name>
        <label>Inputs Valid</label>
        <locationX>293</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeetingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmployerAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_Rec_Type</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates the rec type of the meeting and determines the path the flow should take based on this value</description>
        <name>Meeting_Rec_Type</name>
        <label>Meeting Rec Type</label>
        <locationX>503</locationX>
        <locationY>223</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WCA_Conference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Value</targetReference>
            </connector>
            <label>WCA Conference</label>
        </rules>
        <rules>
            <name>WCA_Hearing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Hearing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Udpate_Case_Stage_on_Case_Managment_Record_0</targetReference>
            </connector>
            <label>WCA Hearing</label>
        </rules>
        <rules>
            <name>Garment_Conference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Value</targetReference>
            </connector>
            <label>Garment Conference</label>
        </rules>
        <rules>
            <name>Garment_Hearing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Revocation_Hearing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Udpate_Case_Stage_on_Case_Managment_Record_0</targetReference>
            </connector>
            <label>Garment Hearing</label>
        </rules>
        <rules>
            <name>BOFE_Conference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Value</targetReference>
            </connector>
            <label>BOFE Conference</label>
        </rules>
        <rules>
            <name>BOFE_Hearing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Hearing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Udpate_Case_Stage_on_Case_Managment_Record_0</targetReference>
            </connector>
            <label>BOFE Hearing</label>
        </rules>
        <rules>
            <name>RCI_Meetings_Hearings</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI_Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI_Hearing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_Create_Events_Flow</targetReference>
            </connector>
            <label>RCI Meetings/Hearings</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_Registration</name>
        <label>Related to Registration?</label>
        <locationX>924</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Chatter_on_Registration</targetReference>
            </connector>
            <label>Related</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines logic based on the status of the meeting</description>
        <name>Status_Value</name>
        <label>Status Value</label>
        <locationX>288</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Scheduled_Rescheduled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Udpate_Case_Stage_on_Case_Managment_Record</targetReference>
            </connector>
            <label>Scheduled/Rescheduled/Continued</label>
        </rules>
    </decisions>
    <description>Modified decision checking for registration ID to check for empty string.</description>
    <interviewLabel>Meeting Scheduled or Rescheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Meeting Scheduled or Rescheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Looks to see if any open BOFE cases exist for the employer</description>
        <name>Look_for_BOFE_Case</name>
        <label>Look for BOFE Case</label>
        <locationX>292</locationX>
        <locationY>678</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BOFE_Case_Found</targetReference>
        </connector>
        <filters>
            <field>Employer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployerAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>BOFE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Investigation</stringValue>
            </value>
        </filters>
        <object>DIR_Case__c</object>
        <outputAssignments>
            <assignToReference>BOFEAssignedDeputyEmail</assignToReference>
            <field>Assigned_Deputy_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BOFECaseNumber</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Case Stage on Case Managment Record to Conference</description>
        <name>Udpate_Case_Stage_on_Case_Managment_Record</name>
        <label>Udpate Case Stage on Case Managment Record</label>
        <locationX>296</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Look_for_BOFE_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Stage__c</field>
            <value>
                <stringValue>Conference</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Conf. Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Stage on Case Managment Record to Conference</description>
        <name>Udpate_Case_Stage_on_Case_Managment_Record_0</name>
        <label>Udpate Case Stage on Case Managment Record</label>
        <locationX>762</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Launch_Create_Events_Flow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Stage__c</field>
            <value>
                <stringValue>Hearing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Hearing Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>DIR_Case__c</object>
    </recordUpdates>
    <startElementReference>Inputs_Valid</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Launch_Create_Events_Flow</name>
        <label>Launch Create Events Flow</label>
        <locationX>718</locationX>
        <locationY>472</locationY>
        <connector>
            <targetReference>Related_to_Registration</targetReference>
        </connector>
        <flowName>WCA_Create_Events_on_Meetings</flowName>
        <inputAssignments>
            <name>vEndDateTime</name>
            <value>
                <elementReference>vMeetingEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMeetingId</name>
            <value>
                <elementReference>MeetingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStartTime</name>
            <value>
                <elementReference>vMeetingStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStatus</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordType</name>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCaseNumber</name>
            <value>
                <elementReference>vCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMeetingScheduledFor</name>
            <value>
                <elementReference>vMeetingScheduledFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLegacyMeetingDate</name>
            <value>
                <elementReference>vLegacyMeetingDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vMeetingEndTime</assignToReference>
            <name>vEndDateTime</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vMeetingStartTime</assignToReference>
            <name>vStartTime</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MeetingID</assignToReference>
            <name>vMeetingId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <name>vStatus</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <description>Email template to send to BOFE deputies when the conference is scheduled</description>
        <name>EmailtoBOFEDeputy</name>
        <text>This is to notify you that a WCA conference has been scheduled for the employer on the BOFE Case {!BOFECaseNumber} that you are assigned to.</text>
    </textTemplates>
    <variables>
        <description>Email address of the assigned deputy on the BOFE case</description>
        <name>BOFEAssignedDeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case number for the BOFE case</description>
        <name>BOFECaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Case ID</description>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Stage based on record update</description>
        <name>CaseStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account ID of the employer on the case</description>
        <name>EmployerAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Meeting ID on a Case Managment Record</description>
        <name>MeetingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Meeting Record Type</description>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Meeting Status</description>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If case is related to registration, the ID is passed from PB and parent process to this variable</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>BOFE meeting stat time</description>
        <name>vLegacyMeetingDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMeetingEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMeetingScheduledFor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vMeetingStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
