force-app/main/default/flows/Meeting_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approved_debug</name>
        <label>Approved debug</label>
        <locationX>1033</locationX>
        <locationY>666</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Meeting Approved</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>inputs_valid_chatter</name>
        <label>inputs valid chatter</label>
        <locationX>259</locationX>
        <locationY>285</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>IsNew</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtDebugText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>stop_here</name>
        <label>stop here</label>
        <locationX>1790</locationX>
        <locationY>613</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>stop message</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>stop_here_0</name>
        <label>stop here</label>
        <locationX>453</locationX>
        <locationY>887</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>New meeting - deps updated</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>stop_here_0_0</name>
        <label>stop here</label>
        <locationX>28</locationX>
        <locationY>415</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Deputy Values not set</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Flag_Deputy_details_to_update</name>
        <label>Flag Deputy details to update</label>
        <locationX>250</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>boolDeputyUpdateFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Value_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collection of all possible input variables for this flow. Can be used for dev and testing. Should be updated as the flow is updated and/or new subflows are added.</description>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>467</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>varMeetingID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1HZ0000001ReN5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeetingStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeetingRecType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WCA_Conference</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1BZ0000001BE6H</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeputyID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSeniorDepUserID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHearingOfficer</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmployer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001Z000000wTDoF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatusChange</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Valid_inputs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the boolean flag indicating that the meeting date needs to be updated</description>
        <name>Set_Update_Meeting_Date</name>
        <label>Set Update Meeting Date</label>
        <locationX>841</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>varUpdateMeetingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dep_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>validates that the deputy values have been sent from the process before updating the meeting.</description>
        <name>Deputy_Values_sent</name>
        <label>Deputy Values sent</label>
        <locationX>249</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>stop_here_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>Deputy_Values_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDeputyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSeniorDepUserID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeputyID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSeniorDepUserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flag_Deputy_details_to_update</targetReference>
            </connector>
            <label>Deputy Values Set</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if this is the first time the meeting is scheduled</description>
        <name>First_time_scheduled</name>
        <label>First time scheduled</label>
        <locationX>832</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Update_Dep_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subsequent or n/a</defaultConnectorLabel>
        <rules>
            <name>First_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOriginalMeetingDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Update_Meeting_Date</targetReference>
            </connector>
            <label>First Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew</name>
        <label>IsNew</label>
        <locationX>465</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Rec_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolISnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Values_sent</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew_0</name>
        <label>IsNew</label>
        <locationX>1545</locationX>
        <locationY>610</locationY>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>frmIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolISnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Meeting_Scheduled_Rescheduled</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sends flow logic in the correct direction for the record Type</description>
        <name>Rec_Type</name>
        <label>Rec Type</label>
        <locationX>465</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WCA_Garment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Revocation_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI_Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI_Hearing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Value</targetReference>
            </connector>
            <label>WCA/Garment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that the status changed before triggering events that require a status change to fire.</description>
        <name>Status_Changed</name>
        <label>Status or Time Changed</label>
        <locationX>1548</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>IsNew_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStatusChange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStartTimeChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Meeting_Scheduled_Rescheduled</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the status and directs the flow logic appropriately</description>
        <name>Status_Value</name>
        <label>Status Value</label>
        <locationX>840</locationX>
        <locationY>491</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Continuance</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continuance Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continunace Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Continuance_Flow</targetReference>
            </connector>
            <label>Continuance</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dismissed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Events_from_Cancelled_Meetings</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Scheduled_Resecheduled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_time_scheduled</targetReference>
            </connector>
            <label>Scheduled/Resecheduled/Continued</label>
        </rules>
        <rules>
            <name>Meeting_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_debug</targetReference>
            </connector>
            <label>Meeting Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the status and directs the flow logic appropriately</description>
        <name>Status_Value_0</name>
        <label>Status Value</label>
        <locationX>250</locationX>
        <locationY>765</locationY>
        <defaultConnector>
            <targetReference>Update_deputy_on_Non_New_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>NewStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Meeting_Date_2</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Dep_Details</name>
        <label>Update Dep Details?</label>
        <locationX>1033</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Set_Original_Meeting_Date_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update Required</defaultConnectorLabel>
        <rules>
            <name>Update_Deputy_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolDeputyUpdateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Meeting_Date</targetReference>
            </connector>
            <label>Update Deputy Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Dep_Details_0</name>
        <label>Update Dep Details?</label>
        <locationX>1108</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>Set_Original_Meeting_Date_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Update Required</defaultConnectorLabel>
        <rules>
            <name>Update_Deputy_Details_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolDeputyUpdateFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Meeting_Date_1</targetReference>
            </connector>
            <label>Update Deputy Details</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates that all input variables to start the flow are populated as expected</description>
        <name>Valid_inputs</name>
        <label>Valid inputs</label>
        <locationX>465</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseEmployer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNew</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Specific steps that need to take place for specific rec types of WCA meetings</description>
        <name>WCA_Meeting_Specific_Actions</name>
        <label>WCA Meeting Specific Actions</label>
        <locationX>1545</locationX>
        <locationY>321</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WCA_Conference</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WCA_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Garment_Revocation_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Conference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOFE_Hearing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI_Meeting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingRecType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCI_Hearing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Changed</targetReference>
            </connector>
            <label>WCA/Garment Conference/Hearing</label>
        </rules>
    </decisions>
    <description>Added BoolsNew to allow saving records as &quot;Scheduled&quot;</description>
    <formulas>
        <description>formula to replace null with the word NULL for deputy ID or &quot;blank value&quot; if the value is an empty string or the actual value of the field. Used for debugging the logic</description>
        <name>flaDepValuNulDebug</name>
        <dataType>String</dataType>
        <expression>IF ( 
    ISNULL ( {!varDeputyID} ) ,
    &quot;NULL&quot;, 
    IF ( {!varDeputyID} = &quot;&quot; , 
          &quot;Empty String&quot; ,
          {!varDeputyID} 
        )
   )</expression>
    </formulas>
    <formulas>
        <description>Formula to determine if the meeting is new or updated</description>
        <name>frmIsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF ( {!varMeetingCreatedDate} = {!varMeetingLastModifiedDate}, TRUE, FALSE )</expression>
    </formulas>
    <interviewLabel>Meeting Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Meeting Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date</name>
        <label>Update Meeting</label>
        <locationX>1547</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>WCA_Meeting_Specific_Actions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Deputy__c</field>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>varEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_End_Date_Time__c</field>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Hearing_Date__c</field>
            <value>
                <elementReference>varMeetingStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Case_Deputy__c</field>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date_0</name>
        <label>Update Meeting</label>
        <locationX>1315</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>WCA_Meeting_Specific_Actions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>varEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_End_Date_Time__c</field>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Hearing_Date__c</field>
            <value>
                <elementReference>varMeetingStartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date_0_0</name>
        <label>Update Meeting</label>
        <locationX>1356</locationX>
        <locationY>316</locationY>
        <connector>
            <targetReference>WCA_Meeting_Specific_Actions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>varEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_End_Date_Time__c</field>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date_1</name>
        <label>Update Meeting</label>
        <locationX>1105</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>WCA_Meeting_Specific_Actions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Deputy__c</field>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Duration__c</field>
            <value>
                <elementReference>varEstimatedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_End_Date_Time__c</field>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Case_Deputy__c</field>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the meeting record to set the original meeting date.</description>
        <name>Set_Original_Meeting_Date_2</name>
        <label>Update Meeting</label>
        <locationX>558</locationX>
        <locationY>770</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Deputy__c</field>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Case_Deputy__c</field>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_deputy_on_Non_New_Records</name>
        <label>Update deputy on Non New Records</label>
        <locationX>372</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>Rec_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Deputy__c</field>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sr_Case_Deputy__c</field>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Hearing__c</object>
    </recordUpdates>
    <startElementReference>Valid_inputs</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Remove_Events_from_Cancelled_Meetings</name>
        <label>Remove Events from Cancelled Meetings</label>
        <locationX>838</locationX>
        <locationY>673</locationY>
        <flowName>Meetings_Delete_events</flowName>
        <inputAssignments>
            <name>MeetingId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Continuance_Flow</name>
        <label>Run Continuance Flow</label>
        <locationX>688</locationX>
        <locationY>673</locationY>
        <flowName>Meeting_Continuance</flowName>
        <inputAssignments>
            <name>MeetingId</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DeputyId</name>
            <value>
                <elementReference>varDeputyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DeputyManagerId</name>
            <value>
                <elementReference>varSeniorDepUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HearingOfficer</name>
            <value>
                <elementReference>varHearingOfficer</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Runs the meeting scheduled/rescheduled flow</description>
        <name>Run_Meeting_Scheduled_Rescheduled</name>
        <label>Run Meeting Scheduled/Rescheduled</label>
        <locationX>1798</locationX>
        <locationY>472</locationY>
        <flowName>Meeting_Scheduled_or_Rescheduled</flowName>
        <inputAssignments>
            <name>MeetingID</name>
            <value>
                <elementReference>varMeetingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>varCaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordType</name>
            <value>
                <elementReference>varMeetingRecType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <elementReference>varMeetingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmployerAccountID</name>
            <value>
                <elementReference>varCaseEmployer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMeetingEndTime</name>
            <value>
                <elementReference>varMeetingEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMeetingStartTime</name>
            <value>
                <elementReference>varMeetingStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCaseNumber</name>
            <value>
                <elementReference>varCaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vMeetingScheduledFor</name>
            <value>
                <elementReference>vMeetingScheduledFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vLegacyMeetingDate</name>
            <value>
                <elementReference>varLegacyMeetingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>text of all variables input to the flow for debugging error in flow</description>
        <name>txtDebugText</name>
        <text>Meeting ID: {!varMeetingID}
Case ID: {!varCaseID}
Meeting Rec Type: {!varMeetingRecType}
Meeting Status: {!varMeetingStatus}
Deputy ID: {!varDeputyID} - {!flaDepValuNulDebug}
Senior Dep User: {!varSeniorDepUserID}
Hearing Officer: {!varHearingOfficer}
Case Employer: {!varCaseEmployer}
Meeting Create Date: {!varMeetingCreatedDate}
Meeting Last Mod Date: {!varMeetingLastModifiedDate}
IsNew: {!frmIsNew}{!flaDepValuNulDebug}</text>
    </textTemplates>
    <variables>
        <description>Flag set when it is necessary to update the deputy details</description>
        <name>boolDeputyUpdateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolISnew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The meeting that triggered the flow that needs to be updated</description>
        <name>objMeeting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Hearing__c</objectType>
    </variables>
    <variables>
        <description>Employer on the case</description>
        <name>varCaseEmployer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Parent Case ID of the meeting that triggered the flow</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the deputy assigned to the case</description>
        <name>varDeputyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Estimated duration calculated in, then passed in, from PB</description>
        <name>varEstimatedDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Hearing officer assigned to the meeting.</description>
        <name>varHearingOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>BOFE meeting start date</description>
        <name>varLegacyMeetingDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Date meeting was created. Passed in from Process</description>
        <name>varMeetingCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMeetingEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the meeting that triggered the flow</description>
        <name>varMeetingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Last modified date of meeting passed from process</description>
        <name>varMeetingLastModifiedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record type of the meeing that started the flow</description>
        <name>varMeetingRecType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Start date/time for the meeting passed from the process</description>
        <name>varMeetingStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Status of the meeting that started the flow</description>
        <name>varMeetingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The original meeting date passed from the process or set if this is the first time.</description>
        <name>varOriginalMeetingDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>When a case is related to a registration, pass the registrationID from the PB into this variable</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User ID of the senior deputy on the parent case</description>
        <name>varSeniorDepUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Boolean flag to indicate if the Start Time changed or not. Used in the meeting scheduling sub flow to determine if actions need to be taken</description>
        <name>varStartTimeChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean flag to indicate if the status changed or not. Used in the meeting scheduling sub flow to determine if actions need to be taken</description>
        <name>varStatusChange</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean value set by checing if the deputies are set on the case so that they can be updated if needed.</description>
        <name>varUpdateDeputyValues</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean value determined by comparing if the original meeting date is set or not and whether the meeting is scheduled</description>
        <name>varUpdateMeetingDate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vMeetingScheduledFor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
