force-app/main/default/flows/Registration_Location_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Attachment_Needed</name>
        <label>Attachment Needed?</label>
        <locationX>806</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>Not Needed</defaultConnectorLabel>
        <rules>
            <name>Request_Attachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAttachmentIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAttachmentIdentifier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_child_object_attachment_flow</targetReference>
            </connector>
            <label>Request Attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>isNew</name>
        <label>isNew</label>
        <locationX>269</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>NotNew</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_default_values</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>268</locationX>
        <locationY>159</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegistrationLocationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isNew</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Handles all actions related to the creation/update of a registration location
- added separator to flow to pass to sub flow</description>
    <formulas>
        <name>flaApplicantEmail</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE ( {!varApplicantEmail} , &#39;&#39;)</expression>
    </formulas>
    <formulas>
        <description>overwrites the state if the country is not us</description>
        <name>flaState</name>
        <dataType>String</dataType>
        <expression>IF ( {!varCountry} = &#39;United States of America&#39;, {!varState} , &#39;N/A&#39;)</expression>
    </formulas>
    <interviewLabel>Registration Location Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Location Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_default_values</name>
        <label>Set default values</label>
        <locationX>551</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Attachment_Needed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationLocationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applicant_Email__c</field>
            <value>
                <elementReference>flaApplicantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>flaState</elementReference>
            </value>
        </inputAssignments>
        <object>Registration_Location__c</object>
    </recordUpdates>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Run_child_object_attachment_flow</name>
        <label>Run child object attachment flow</label>
        <locationX>1094</locationX>
        <locationY>356</locationY>
        <flowName>Registration_Child_Object_Attachment_Request</flowName>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Registration_Location__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAttachmentIdentifier</name>
            <value>
                <elementReference>varAttachmentIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDetail</name>
            <value>
                <elementReference>varAttachmentDetail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceRecordID</name>
            <value>
                <elementReference>varRegistrationLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSeparator</name>
            <value>
                <elementReference>varSeparator</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varApplicantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>pass a configured value into this field that will show on the attachment name and instructions for the attachment</description>
        <name>varAttachmentDetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAttachmentIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegistrationLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>separator character for the string of attachment identifiers</description>
        <name>varSeparator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
