force-app/main/default/flows/Registration_Pending_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Final_Submission_Email</name>
        <label>Send Final Submission Email</label>
        <locationX>1678</locationX>
        <locationY>1453</locationY>
        <actionName>License_Registration__c.REG_Final_Application_Submission</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Pending_Payment_Email</name>
        <label>Send Pending Payment Email</label>
        <locationX>1243</locationX>
        <locationY>435</locationY>
        <actionName>License_Registration__c.REG_Application_Ready_for_Payment</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X001_Entered_flow</name>
        <label>001 Entered flow</label>
        <locationX>670</locationX>
        <locationY>170</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Entered Pending Payment flow - 001</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X002_Status_Changed</name>
        <label>002 Status Changed</label>
        <locationX>1018</locationX>
        <locationY>153</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Balance</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Pending Payment flow - status changed - 002</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X003_Status_Not_Changed</name>
        <label>003 Status NOT Changed</label>
        <locationX>443</locationX>
        <locationY>580</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Balance_0</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Pending Payment flow - status NOT changed - 003</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X004_Balance_Due</name>
        <label>004 Balance Due</label>
        <locationX>848</locationX>
        <locationY>440</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Emails_Populated</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Pending Payment Flow - Balance Due - 004</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X005_No_Balance_Due</name>
        <label>005 Balance Due</label>
        <locationX>1637</locationX>
        <locationY>744</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>X008_submission_variable_check</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Pending Payment Flow - No Balance Due - 005</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X006_Set_resubmitted</name>
        <label>006 Set resubmitted</label>
        <locationX>1684</locationX>
        <locationY>953</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Set_Status_Resubmitted</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Pending Payment - set status resubmitted - 006</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X007_Set_Submitted</name>
        <label>007 Set submitted</label>
        <locationX>2153</locationX>
        <locationY>956</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Set_Status_Submitted</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Pending Payment - set status submitted - 007</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>X008_submission_variable_check</name>
        <label>008 submission variable check</label>
        <locationX>1910</locationX>
        <locationY>893</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Previously_Submitted</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtSubmissionVars</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>input_variables</name>
        <label>input variables</label>
        <locationX>362</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>varRegistrationID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegistrationStatus</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegistrationStatusPriorValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBalance</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRenewal</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicantEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubmissionType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubmittedDateTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubmittedDateTimePriorValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputPath</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Balance</name>
        <label>Balance?</label>
        <locationX>1019</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>X005_No_Balance_Due</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Balance Due</defaultConnectorLabel>
        <rules>
            <name>Balance_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X004_Balance_Due</targetReference>
            </connector>
            <label>Balance Due</label>
        </rules>
    </decisions>
    <decisions>
        <name>Balance_0</name>
        <label>Balance?</label>
        <locationX>668</locationX>
        <locationY>582</locationY>
        <defaultConnector>
            <targetReference>X005_No_Balance_Due</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Balance Due</defaultConnectorLabel>
        <rules>
            <name>Balance_Due_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X004_Balance_Due</targetReference>
            </connector>
            <label>Balance Due</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Populated</name>
        <label>Emails Populated</label>
        <locationX>1026</locationX>
        <locationY>585</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Emails_Populated_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSubmissionType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paper</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegRecordType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Public Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Pending_Payment_Email</targetReference>
            </connector>
            <label>Emails Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Populated_0</name>
        <label>Emails Populated</label>
        <locationX>1680</locationX>
        <locationY>1263</locationY>
        <defaultConnectorLabel>Emails not populated</defaultConnectorLabel>
        <rules>
            <name>Emails_Populated_Path_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegRecordType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Public Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Final_Submission_Email</targetReference>
            </connector>
            <label>Emails Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previously_Submitted</name>
        <label>Previously Submitted</label>
        <locationX>1912</locationX>
        <locationY>1012</locationY>
        <defaultConnector>
            <targetReference>X007_Set_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submitted</defaultConnectorLabel>
        <rules>
            <name>resubmitted</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>varSubmittedDateTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSubmittedDateTimePriorValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSubmittedDateTimePriorValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varInputPath</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X006_Set_resubmitted</targetReference>
            </connector>
            <label>Resubmitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>RenewalDecision_0</name>
        <label>Renewal</label>
        <locationX>1908</locationX>
        <locationY>747</locationY>
        <defaultConnector>
            <targetReference>X008_submission_variable_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not renewal</defaultConnectorLabel>
        <rules>
            <name>Renewal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submission_Type</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed?</label>
        <locationX>668</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>X003_Status_Not_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRegistrationStatusPriorValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X002_Status_Changed</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submission_Type</name>
        <label>Submission Type</label>
        <locationX>2181</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>X008_submission_variable_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Paper</defaultConnectorLabel>
        <rules>
            <name>Online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubmissionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Auto_Renewal_check</targetReference>
            </connector>
            <label>Online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>362</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Invalid Inputs</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSubmissionType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X001_Entered_flow</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Handles all actions when the registration is pending payment
- added payment complete subflow to renewal type as well as new submission
- removed link to Decision - Renewal
- added a variable to restrict emails being sent to Public Works registrations</description>
    <interviewLabel>Registration Pending Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Pending Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Status_Resubmitted</name>
        <label>Set Status Resubmitted</label>
        <locationX>1680</locationX>
        <locationY>1090</locationY>
        <connector>
            <targetReference>Emails_Populated_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Resubmitted</stringValue>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_Submitted</name>
        <label>Set Status Submitted</label>
        <locationX>2156</locationX>
        <locationY>1101</locationY>
        <connector>
            <targetReference>Run_Education_Notification_Flow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Run_Auto_Renewal_check</name>
        <label>Run Auto-Renewal check</label>
        <locationX>2532</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>Run_payment_complete_flow_0</targetReference>
        </connector>
        <flowName>Registration_AutoRenewal</flowName>
        <inputAssignments>
            <name>varRegID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Education_Notification_Flow</name>
        <label>Run Education Notification Flow</label>
        <locationX>2159</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>Run_payment_complete_flow</targetReference>
        </connector>
        <flowName>Registration_Education_Flow</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_payment_complete_flow</name>
        <label>Run payment complete flow</label>
        <locationX>1932</locationX>
        <locationY>1260</locationY>
        <connector>
            <targetReference>Emails_Populated_0</targetReference>
        </connector>
        <flowName>Registration_Payment_Complete</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_payment_complete_flow_0</name>
        <label>Run payment complete flow</label>
        <locationX>2534</locationX>
        <locationY>902</locationY>
        <flowName>Registration_Payment_Complete</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>txtSubmissionVars</name>
        <text>Pending Payment - 008 submission variable check
Submitted: {!varSubmittedDateTime}
Prior value: {!varSubmittedDateTimePriorValue}
Inpu Path: {!varInputPath}</text>
    </textTemplates>
    <variables>
        <description>email address associated with the account the registration is for</description>
        <name>varAccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>account for which the registration is being renewed</description>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>email of the registration applicant</description>
        <name>varApplicantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>balance due on reg</description>
        <name>varBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>takes input path from submitted flow</description>
        <name>varInputPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of registration that kicked off flow</description>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>current status of registration</description>
        <name>varRegistrationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of reg status</description>
        <name>varRegistrationStatusPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flags whether the registration is a renewal or now.</description>
        <name>varRenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>paper or online submission</description>
        <name>varSubmissionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>date time submitted from form</description>
        <name>varSubmittedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Priorvalue of date time submitted from form</description>
        <name>varSubmittedDateTimePriorValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
