force-app/main/default/flows/Registration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Application_Submitted_Successfully</name>
        <label>Application Submitted Successfully</label>
        <locationX>2011</locationX>
        <locationY>768</locationY>
        <actionName>License_Registration__c.Application_Submitted_Successfully</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deputy_Assigned_ch</name>
        <label>Deputy Assigned</label>
        <locationX>890</locationX>
        <locationY>37</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Deputy_Changed</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Deputy is assigned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deputy_Not_Assigned</name>
        <label>Deputy Not Assigned</label>
        <locationX>558</locationX>
        <locationY>297</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>IsNew</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Deputy is NOT assigned</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>enter_flow</name>
        <label>enter flow</label>
        <locationX>180</locationX>
        <locationY>66</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtEnteredFlowVariableCheck</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>inputs_invalid</name>
        <label>inputs invalid</label>
        <locationX>336</locationX>
        <locationY>282</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Inputs invalid for Registration Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_submit_variables</name>
        <label>Post submit variables</label>
        <locationX>677</locationX>
        <locationY>1092</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>formSubmitted1</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtSubmittedVariables</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_intnernal_submission_confirmation</name>
        <label>Send intnernal submission confirmation</label>
        <locationX>1969</locationX>
        <locationY>444</locationY>
        <actionName>License_Registration__c.REG_Internal_Submission_Notice</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Status_Changed_chatter</name>
        <label>Status Changed</label>
        <locationX>968</locationX>
        <locationY>489</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Registration_Status</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>reg flow - status changed check</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Status_Changed_chatter_0</name>
        <label>Status Not Changed</label>
        <locationX>701</locationX>
        <locationY>783</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Registration_Status_no_change</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>reg flow - status NOT changed check</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>submitted_check_error</name>
        <label>submitted check error</label>
        <locationX>526</locationX>
        <locationY>1134</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Internal_ready_to_submit</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtSubmittedCheck</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>339</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRegistrationID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegistrationStatus</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegistrationStatusPriorValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsNew</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRegRecordTypeName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserProfileType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateTimeSubmitted</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDateTimeSubmittedPriorValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_BusinessPhone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LEN</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MailingAddressLine1</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PhysicalAddress</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DateFirstApproved</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Balance</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignedDeputy</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignedDeputyPriorValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignedDeputyUser</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FeeSummaryID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FeeSummaryPriorValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Renewal</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LR_Number</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubmitted</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>enter_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPath_Resubmitted</name>
        <label>SetPath Resubmitted</label>
        <locationX>835</locationX>
        <locationY>1369</locationY>
        <assignmentItems>
            <assignToReference>varSubmissionFlowPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resubmitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Submitted_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Submitted path and Date First Submitted field.</description>
        <name>SetPath_Submitted</name>
        <label>SetPath Submitted</label>
        <locationX>1138</locationX>
        <locationY>1195</locationY>
        <assignmentItems>
            <assignToReference>varSubmissionFlowPath</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFirstTimeSubmitted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Submitted_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_updated_needed</name>
        <label>Address updated needed?</label>
        <locationX>636</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No address update</defaultConnectorLabel>
        <rules>
            <name>Update_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdateAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mailing_Address</targetReference>
            </connector>
            <label>Update Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Balance_Due_Submitted</name>
        <label>Balance Due?</label>
        <locationX>1488</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Run_Payment_Complete_flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Balance Due</defaultConnectorLabel>
        <rules>
            <name>Yes_Balance_Due_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Balance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emails_Populated_1</targetReference>
            </connector>
            <label>Yes Balance Due</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deputy_Assigned</name>
        <label>Deputy Assigned?</label>
        <locationX>686</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>IsNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignedDeputy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssignedDeputyUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssignedDeputy</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAssignedDeputyUser</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Changed</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deputy_Changed</name>
        <label>Deputy Changed</label>
        <locationX>1059</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>IsNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Deputy_Changed_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAssignedDeputy</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAssignedDeputyPriorValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Assigned_Deputy_Flow</targetReference>
            </connector>
            <label>Deputy Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Populated</name>
        <label>Emails Populated?</label>
        <locationX>1969</locationX>
        <locationY>590</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Emails_Populated_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegRecordTypeName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Public Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_intnernal_submission_confirmation</targetReference>
            </connector>
            <label>Emails Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emails_Populated_1</name>
        <label>Emails Populated?</label>
        <locationX>1762</locationX>
        <locationY>772</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Emails_Populated_yes_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Submitted_Successfully</targetReference>
            </connector>
            <label>Emails Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>formSubmitted1</name>
        <label>Submitted</label>
        <locationX>834</locationX>
        <locationY>1193</locationY>
        <defaultConnector>
            <targetReference>Internal_ready_to_submit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither submitted nor resubmitted</defaultConnectorLabel>
        <rules>
            <name>formSubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDateTimeSubmitted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDateTimeSubmittedPriorValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPath_Submitted</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>formResubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDateTimeSubmitted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDateTimeSubmittedPriorValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDateTimeSubmitted</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varDateTimeSubmittedPriorValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPath_Resubmitted</targetReference>
            </connector>
            <label>Resubmitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_ready_to_submit</name>
        <label>Internal ready to submit</label>
        <locationX>286</locationX>
        <locationY>1194</locationY>
        <defaultConnectorLabel>Do not calculate</defaultConnectorLabel>
        <rules>
            <name>Calculate_fees</name>
            <conditionLogic>( (1 AND 2) OR (3 AND 4) ) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>varReadytoSubmit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReadytoSubmitPriorValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReadytoResubmit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varReadytoResubmitPriorValue</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserProfileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_fee_calc</targetReference>
            </connector>
            <label>Calculate fees</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew</name>
        <label>IsNew</label>
        <locationX>834</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Address_updated_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_New_Registration_Flow</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Public_Works</name>
        <label>Public Works</label>
        <locationX>1032</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Registration_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Public Works</defaultConnectorLabel>
        <rules>
            <name>Valid_Public_Works</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Status_0</targetReference>
            </connector>
            <label>Valid Public Works</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Status</name>
        <label>Registration Status</label>
        <locationX>1265</locationX>
        <locationY>476</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Balance_Due_Submitted</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Resubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <label>Resubmitted</label>
        </rules>
        <rules>
            <name>In_Violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Violation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Violation_Flow</targetReference>
            </connector>
            <label>In Violation</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Approval_Flow</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>set_Pending_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Pending_Payment_Flow</targetReference>
            </connector>
            <label>Pending Payment</label>
        </rules>
        <rules>
            <name>Pending_Defect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending / Defect</stringValue>
                </rightValue>
            </conditions>
            <label>Pending Defect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Status_0</name>
        <label>Registration Status</label>
        <locationX>1039</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Submitted_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Resubmitted_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <label>Resubmitted</label>
        </rules>
        <rules>
            <name>In_Violation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Violation</stringValue>
                </rightValue>
            </conditions>
            <label>In Violation</label>
        </rules>
        <rules>
            <name>Approved_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <label>Approved</label>
        </rules>
        <rules>
            <name>set_Pending_Payment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Payment</stringValue>
                </rightValue>
            </conditions>
            <label>Pending Payment</label>
        </rules>
        <rules>
            <name>Pending_Defect_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending / Defect</stringValue>
                </rightValue>
            </conditions>
            <label>Pending Defect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Status_no_change</name>
        <label>Registration Status</label>
        <locationX>834</locationX>
        <locationY>932</locationY>
        <defaultConnector>
            <targetReference>formSubmitted1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Registration_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Post_Approval_Flow</targetReference>
            </connector>
            <label>Registration Approved</label>
        </rules>
        <rules>
            <name>Pending_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Pending_Payment_Flow</targetReference>
            </connector>
            <label>Pending Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed</label>
        <locationX>826</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Registration_Status_no_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRegistrationStatusPriorValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Public_Works</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>337</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>inputs_invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRegRecordTypeName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserProfileType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserProfileType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Guest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deputy_Assigned</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Handles all actions related to the creation, update of a registration
 - passes template status to approval flow
- removed debug chatters
-removed PW pending payment
-included varRegRecordType in the launch of the Registration Submitted flow
- check for guest account</description>
    <formulas>
        <description>Provides the value of the path that the process took.</description>
        <name>flaPath</name>
        <dataType>String</dataType>
        <expression>IF ( {!Submitted}, &#39;Submitted&#39;, 
IF ( {!Resubmitted}, &#39;Resubmitted&#39;, 
&#39;Unknown&#39;
) )</expression>
    </formulas>
    <interviewLabel>Registration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Trigger_fee_calc</name>
        <label>Trigger fee calc</label>
        <locationX>289</locationX>
        <locationY>1340</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Fee Calculation Ready</stringValue>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Approval_Flow</name>
        <label>Run Approval Flow</label>
        <locationX>1499</locationX>
        <locationY>447</locationY>
        <flowName>Registration_Approval_Flow</flowName>
        <inputAssignments>
            <name>var_DateFirstApproved</name>
            <value>
                <elementReference>var_DateFirstApproved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_RegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Status</name>
            <value>
                <elementReference>varRegistrationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_UserProfileType</name>
            <value>
                <elementReference>varUserProfileType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVIPTemplateStatus</name>
            <value>
                <elementReference>varTemplateStatus</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Assigned_Deputy_Flow</name>
        <label>Run Assigned Deputy Flow</label>
        <locationX>1324</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>IsNew</targetReference>
        </connector>
        <flowName>Registration_Deputy_Assigned</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssignedDeputy</name>
            <value>
                <elementReference>varAssignedDeputy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssignedDeputyUser</name>
            <value>
                <elementReference>varAssignedDeputyUser</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_New_Registration_Flow</name>
        <label>Run New Registration Flow</label>
        <locationX>1202</locationX>
        <locationY>366</locationY>
        <flowName>New_Registration</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationName</name>
            <value>
                <elementReference>varRegName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationRecTypeName</name>
            <value>
                <elementReference>varRegRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserProfileType</name>
            <value>
                <elementReference>varUserProfileType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Renewal</name>
            <value>
                <elementReference>var_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varImportedFrom</name>
            <value>
                <elementReference>varImportedFrom</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Payment_Complete_flow</name>
        <label>Run Payment Complete flow</label>
        <locationX>1768</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Emails_Populated</targetReference>
        </connector>
        <flowName>Registration_Payment_Complete</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Pending_Payment_Flow</name>
        <label>Run Pending Payment Flow</label>
        <locationX>1341</locationX>
        <locationY>857</locationY>
        <flowName>Registration_Pending_Payment</flowName>
        <inputAssignments>
            <name>varAccountEmail</name>
            <value>
                <elementReference>varAccountEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varApplicantEmail</name>
            <value>
                <elementReference>varApplicantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBalance</name>
            <value>
                <elementReference>var_Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationStatus</name>
            <value>
                <elementReference>varRegistrationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationStatusPriorValue</name>
            <value>
                <elementReference>varRegistrationStatusPriorValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegRecordType</name>
            <value>
                <elementReference>varRegRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRenewal</name>
            <value>
                <elementReference>var_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubmissionType</name>
            <value>
                <elementReference>varSubmissionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubmittedDateTime</name>
            <value>
                <elementReference>varDateTimeSubmitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubmittedDateTimePriorValue</name>
            <value>
                <elementReference>varDateTimeSubmittedPriorValue</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Post_Approval_Flow</name>
        <label>Run Post-Approval Flow</label>
        <locationX>536</locationX>
        <locationY>931</locationY>
        <flowName>Registration_Post_Approval_Changes</flowName>
        <inputAssignments>
            <name>var_RegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Status</name>
            <value>
                <elementReference>varRegistrationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_StatusPRIORVALUE</name>
            <value>
                <elementReference>varRegistrationStatusPriorValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_DateFirstApproved</name>
            <value>
                <elementReference>var_DateFirstApproved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_UserProfileType</name>
            <value>
                <elementReference>varUserProfileType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Submitted_Flow</name>
        <label>Run Submitted Flow</label>
        <locationX>1136</locationX>
        <locationY>1371</locationY>
        <flowName>Registration_Submitted</flowName>
        <inputAssignments>
            <name>var_Balance</name>
            <value>
                <elementReference>var_Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Renewal</name>
            <value>
                <elementReference>var_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountEmail</name>
            <value>
                <elementReference>varAccountEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varApplicantEmail</name>
            <value>
                <elementReference>varApplicantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPathSubmitted</name>
            <value>
                <elementReference>varSubmissionFlowPath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegRecordType</name>
            <value>
                <elementReference>varRegRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegStatus</name>
            <value>
                <elementReference>varRegistrationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSameMailing</name>
            <value>
                <elementReference>varSameMailing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSameResi</name>
            <value>
                <elementReference>varSameResi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUserProfileType</name>
            <value>
                <elementReference>varUserProfileType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Mailing_Address</name>
        <label>Update Mailing Address</label>
        <locationX>444</locationX>
        <locationY>631</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <flowName>Registration_Update_Address</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Violation_Flow</name>
        <label>Violation Flow</label>
        <locationX>1524</locationX>
        <locationY>587</locationY>
        <flowName>Registration_In_Violation</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>OutputVariables</name>
        <text>Account Email changed: {!var_AccountEmailIsChanged}
Phone changed: {!var_BusinessPhoneIsChanged}
Phys Address changed: {!var_PhysicalAddressIsChanged}
Mailing Address changed: {!var_MailingAddressIsChanged}
LEN changed: {!var_LEN_IsChanged}</text>
    </textTemplates>
    <textTemplates>
        <description>displays the values used in the balance check</description>
        <name>txtBalanceCheck</name>
        <text>Balance check failed: 

Balance: {!var_Balance}
Renewal: {!var_Renewal}
Service Type: {!varSubmissionType}</text>
    </textTemplates>
    <textTemplates>
        <description>outputs varable data for debugging</description>
        <name>txtEnteredFlowVariableCheck</name>
        <text>Entered Registration flow variable check:

Update address: {!varUpdateAddress}</text>
    </textTemplates>
    <textTemplates>
        <name>txtPathTaken</name>
        <text>Path taken to Submitted Flow: {!flaPath}

Time Submitted: {!varDateTimeSubmitted}
Time Submitted Priorvalue: {!varDateTimeSubmittedPriorValue}
Status: {!varRegistrationStatus}
Status Priorvalue: {!varRegistrationStatusPriorValue}</text>
    </textTemplates>
    <textTemplates>
        <name>txtSubmittedCheck</name>
        <text>submitted check hit neither submitted nor resubmitted
submitted: {!varDateTimeSubmitted}
prior value: {!varDateTimeSubmittedPriorValue}
Usertype: {!varUserProfileType}
ready to submit: {!varReadytoSubmit}
ready to submit prior: {!varReadytoSubmitPriorValue}
ready to resubmit: {!varReadytoResubmit}
ready to resubmit prior: {!varReadytoResubmitPriorValue}</text>
    </textTemplates>
    <textTemplates>
        <name>txtSubmittedVariables</name>
        <text>Ready to Submit: {!varReadytoSubmit}
Ready to Resubmit: {!varReadytoResubmit}
Status: {!varRegistrationStatus}
VIP Time submitted: {!varDateTimeSubmitted}
Time Submitted Prior value: {!varDateTimeSubmittedPriorValue}
First Time Submitted: {!varFirstTimeSubmitted}
First Time Resubmitted: {!varFirstTimeResubmitted}</text>
    </textTemplates>
    <variables>
        <name>var_AccountEmailIsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_BusinessPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Daytime Phone value has changed</description>
        <name>var_BusinessPhoneIsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_DateFirstApproved</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_FeeSummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_FeeSummaryPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Legal Entity Name</description>
        <name>var_LEN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Legal Entity Name value has changed</description>
        <name>var_LEN_IsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>License Registration Number</description>
        <name>var_LR_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Mailing Address Line 1 value has changed</description>
        <name>var_MailingAddressIsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_MailingAddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Physical Business Address Line 1</description>
        <name>var_PhysicalAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Physical Business Address Line value has chaned</description>
        <name>var_PhysicalAddressIsChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_RemindertoResubmit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Renewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of account passed from PB</description>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varApplicantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignedDeputy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAssignedDeputyPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignedDeputyUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>VIP Date Time submitted field from the registration passed from PB</description>
        <name>varDateTimeSubmitted</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Prior value of the vip date time submitted field</description>
        <name>varDateTimeSubmittedPriorValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstTimeResubmitted</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstTimeSubmitted</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>imported from field on triggering registration</description>
        <name>varImportedFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReadytoResubmit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>prior value of ready to resubmit field from record</description>
        <name>varReadytoResubmitPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReadytoSubmit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>previous value of ready to submit field from record update</description>
        <name>varReadytoSubmitPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegistrationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegistrationStatusPriorValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSameMailing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSameResi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubmissionFlowPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubmissionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubmitted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>vip template status passed from PB to the flow</description>
        <name>varTemplateStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Boolean set by process builder if  address changes</description>
        <name>varUpdateAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserProfileType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
