force-app/main/default/flows/Registration_Submitted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnteredFlow</name>
        <label>EnteredFlow</label>
        <locationX>417</locationX>
        <locationY>374</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtEnteredFlow</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send pending payment out after submitting a renewal</description>
        <name>REG_Application_Ready_for_Payment_Email_Alert</name>
        <label>REG: Application Ready for Payment Email Alert</label>
        <locationX>1188</locationX>
        <locationY>834</locationY>
        <actionName>License_Registration__c.REG_Application_Ready_for_Payment</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resubmit_Error</name>
        <label>Resubmit Error</label>
        <locationX>66</locationX>
        <locationY>621</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Update on Resubmission did not complete successfully.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Resubmitted_Chatter</name>
        <label>Resubmitted Chatter</label>
        <locationX>665</locationX>
        <locationY>965</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This application was resubmitted</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_internal_submission_notice</name>
        <label>Send internal submission notice</label>
        <locationX>1373</locationX>
        <locationY>830</locationY>
        <actionName>License_Registration__c.REG_Internal_Submission_Notice</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Renewal_Email_Confirmation_Submit</name>
        <label>Send Renewal Email Confirmation</label>
        <locationX>1030</locationX>
        <locationY>959</locationY>
        <actionName>License_Registration__c.Application_Successfully_Submitted_for_Renewal</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_submitted_notification</name>
        <label>Send submitted notification</label>
        <locationX>1604</locationX>
        <locationY>745</locationY>
        <actionName>License_Registration__c.Application_Submitted_Successfully</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubmitUpdateError</name>
        <label>Submit update error</label>
        <locationX>980</locationX>
        <locationY>519</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Update on Submission did not complete successfully.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SubmitUpdateVariableCheck</name>
        <label>SubmitUpdateVariableCheck</label>
        <locationX>773</locationX>
        <locationY>376</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Registration_Submitted</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtSubmissionUpdateCheck</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Input_variables</name>
        <label>Input variables</label>
        <locationX>180</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>varRegistrationID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a1Rr00000005u4X</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserProfileType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CspLitePortal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSameMailing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSameResi</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPathSubmitted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resubmitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Balance</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Renewal</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>EnteredFlow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Applicant_Account_Emails_Populated</name>
        <label>Applicant/Account Emails Populated</label>
        <locationX>1512</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Business_Emal_External</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varApplicantEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_submitted_notification</targetReference>
            </connector>
            <label>Business Email</label>
        </rules>
        <rules>
            <name>Applicant</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_submitted_notification</targetReference>
            </connector>
            <label>Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Applicant_Account_Emails_Populated_1</name>
        <label>Applicant/Account Emails Populated</label>
        <locationX>1366</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Send_internal_submission_notice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Business_Email</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varApplicantEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_internal_submission_notice</targetReference>
            </connector>
            <label>Business Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Applicant_Account_Emails_Populated_1_1_1_1_1</name>
        <label>Applicant/Account Emails Populated</label>
        <locationX>1159</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Both_1_1_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varApplicantEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REG_Application_Ready_for_Payment_Email_Alert</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Applicant_1_1_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varApplicantEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REG_Application_Ready_for_Payment_Email_Alert</targetReference>
            </connector>
            <label>Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <description>Uses the path from the main flow that triggers this flow</description>
        <name>Input_Path</name>
        <label>Input Path</label>
        <locationX>655</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPathSubmitted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmitUpdateVariableCheck</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Resubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPathSubmitted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Status</targetReference>
            </connector>
            <label>Resubmitted</label>
        </rules>
    </decisions>
    <decisions>
        <description>used to determine proper submission emails.</description>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1609</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>Applicant_Account_Emails_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Record types</defaultConnectorLabel>
        <rules>
            <name>Public_Works</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegRecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Public Works</stringValue>
                </rightValue>
            </conditions>
            <label>Public Works</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Decision</name>
        <label>Record Type Decision</label>
        <locationX>1369</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Applicant_Account_Emails_Populated_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not PW Record</defaultConnectorLabel>
        <rules>
            <name>Public_Works_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Works</stringValue>
                </rightValue>
            </conditions>
            <label>Public Works Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Status</name>
        <label>Registration Status</label>
        <locationX>495</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>Update_Registration_Submitted_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Pending_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Pending_Payment_flow</targetReference>
            </connector>
            <label>Pending Payment</label>
        </rules>
        <rules>
            <name>Pending_defect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending / Defect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Registration_Submitted_0</targetReference>
            </connector>
            <label>Pending defect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_after_submitted</name>
        <label>Renewal?</label>
        <locationX>1151</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>UserType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Renewal</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_after_submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Renewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valid_Record_Type</targetReference>
            </connector>
            <label>Yes Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserType</name>
        <label>UserType</label>
        <locationX>1369</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>External</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserProfileType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Decision</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>214</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Registration_Record</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Record_Type</name>
        <label>Valid Record Type</label>
        <locationX>1156</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Applicant_Account_Emails_Populated_1_1_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not PW Renewal</defaultConnectorLabel>
        <rules>
            <name>Public_Works_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Works</stringValue>
                </rightValue>
            </conditions>
            <label>Public Works Renewal</label>
        </rules>
    </decisions>
    <description>Runs all actions necessary when a registration is submitted
Shortened wait
- Run pending payment sub flow
-add decision for PW Regisrtation submission emails
- removed submitted_date__c sr b-000201
5/13/2019-bug-000223- redirect Email Alert to point to Payment Ready email</description>
    <formulas>
        <description>Sets the mailing address 1 based on either the physical address, residential address or an explicit mailing address</description>
        <name>flaMailAddress1</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, {!objReg.Physical_Business_Address_Line_1__c} , IF ( {!varSameResi}, {!objReg.Residential_Address_Line_1__c},  {!objReg.Mailing_Address_Line_1__c} ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailAddress2</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, {!objReg.Physical_Business_Address_Line_2__c} , IF ( {!varSameResi}, {!objReg.Residential_Address_Line_2__c},  {!objReg.Mailing_Address_Line_2__c} ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailCity</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, {!objReg.Physical_Business_City__c} , IF ( {!varSameResi}, {!objReg.Residential_City__c},  {!objReg.Mailing_City__c} ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailCountry</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, TEXT( {!objReg.Physical_Business_Country__c} ) , IF ( {!varSameResi}, TEXT( {!objReg.Residential_Country__c} ),  TEXT( {!objReg.Mailing_Country__c} ) ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailingPostal</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, {!objReg.Physical_Business_Postal_Code__c} , IF ( {!varSameResi}, {!objReg.Residential_Postal_Code__c},  {!objReg.Mailing_Postal_Code__c} ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailingState</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISPICKVAL({!objReg.Mailing_Country__c}, &quot;United States of America&quot;)), &quot;N/A&quot;,IF ( {!varSameMailing}, TEXT ( {!objReg.Physical_Business_State__c} ) , 
IF ( {!varSameResi}, TEXT ( {!objReg.Residential_State__c} ), 
TEXT( {!objReg.Mailing_State__c} ) ) ))</expression>
    </formulas>
    <formulas>
        <description>Updates Physical Business State to N/A if country is not USA.</description>
        <name>flaPhysicalBusState</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!objReg.Physical_Business_Country__c}, &quot;United States of America&quot;),  TEXT( {!objReg.Physical_Business_State__c}), &quot;N/A&quot; )</expression>
    </formulas>
    <formulas>
        <name>flaRegStatus</name>
        <dataType>String</dataType>
        <expression>IF ( {!varUserProfileType} = &#39;CspLitePortal&#39;, &#39;Fee Calculation Ready&#39;, &#39;Submitted&#39;)</expression>
    </formulas>
    <formulas>
        <name>flaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Registration Submitted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Submitted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Registration_Record</name>
        <label>Get Registration Record</label>
        <locationX>431</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Path</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <object>License_Registration__c</object>
        <outputAssignments>
            <assignToReference>objReg.Balance__c</assignToReference>
            <field>Balance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_Address_Line_1__c</assignToReference>
            <field>Mailing_Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_Address_Line_2__c</assignToReference>
            <field>Mailing_Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_City__c</assignToReference>
            <field>Mailing_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_Country__c</assignToReference>
            <field>Mailing_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_Postal_Code__c</assignToReference>
            <field>Mailing_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_State__c</assignToReference>
            <field>Mailing_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_Address_Line_1__c</assignToReference>
            <field>Physical_Business_Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_Address_Line_2__c</assignToReference>
            <field>Physical_Business_Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_City__c</assignToReference>
            <field>Physical_Business_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_Country__c</assignToReference>
            <field>Physical_Business_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_Postal_Code__c</assignToReference>
            <field>Physical_Business_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_State__c</assignToReference>
            <field>Physical_Business_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_Address_Line_1__c</assignToReference>
            <field>Residential_Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_Address_Line_2__c</assignToReference>
            <field>Residential_Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_City__c</assignToReference>
            <field>Residential_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_Postal_Code__c</assignToReference>
            <field>Residential_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_State__c</assignToReference>
            <field>Residential_State__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registration_Submitted</name>
        <label>Update Registration - Submitted</label>
        <locationX>987</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Renewal_after_submitted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SubmitUpdateError</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mailing_Address_Line_1__c</field>
            <value>
                <elementReference>flaMailAddress1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Line_2__c</field>
            <value>
                <elementReference>flaMailAddress2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>flaMailCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>flaMailCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Postal_Code__c</field>
            <value>
                <elementReference>flaMailingPostal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>flaMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Business_State__c</field>
            <value>
                <elementReference>flaPhysicalBusState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Fee Calculation Ready</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Registration_Submitted_0</name>
        <label>Update Registration - Submitted</label>
        <locationX>269</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>Resubmitted_Chatter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Resubmit_Error</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mailing_Address_Line_1__c</field>
            <value>
                <elementReference>flaMailAddress1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Line_2__c</field>
            <value>
                <elementReference>flaMailAddress2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>flaMailCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>flaMailCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Postal_Code__c</field>
            <value>
                <elementReference>flaMailingPostal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>flaMailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Business_State__c</field>
            <value>
                <elementReference>flaPhysicalBusState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Fee Calculation Ready</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <startElementReference>EnteredFlow</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Run_Pending_Payment_flow</name>
        <label>Run Pending Payment flow</label>
        <locationX>652</locationX>
        <locationY>755</locationY>
        <flowName>Registration_Pending_Payment</flowName>
        <inputAssignments>
            <name>varRegistrationID</name>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBalance</name>
            <value>
                <elementReference>var_Balance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRenewal</name>
            <value>
                <elementReference>var_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varApplicantEmail</name>
            <value>
                <elementReference>varApplicantEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountEmail</name>
            <value>
                <elementReference>varAccountEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRegistrationStatus</name>
            <value>
                <elementReference>varRegStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputPath</name>
            <value>
                <elementReference>varPathSubmitted</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ResubmissionReceived</name>
        <text>Your registration resubmission has been received with no additional balance due at this time. Your submission will be reviewed and processed in a timely manner.</text>
    </textTemplates>
    <textTemplates>
        <name>ResubmissionReceivedSubject</name>
        <text>Your registration resubmission has been received by DLSE</text>
    </textTemplates>
    <textTemplates>
        <name>txtEnteredFlow</name>
        <text>Entered Registration Submitted Flow via path: 
{!varPathSubmitted}

User type: 
{!varUserProfileType}</text>
    </textTemplates>
    <textTemplates>
        <name>txtSubmissionUpdateCheck</name>
        <text>Same Mailing: {!varSameMailing}
Same Resi: {!varSameResi}
Phys Add 1: {!objReg.Physical_Business_Address_Line_1__c}
Phys Add 2: {!objReg.Physical_Business_Address_Line_2__c}
Phys City: {!objReg.Physical_Business_City__c}
Phys State: {!objReg.Physical_Business_State__c}
Phys postal: {!objReg.Physical_Business_Postal_Code__c}
Phys Country: {!objReg.Physical_Business_Country__c}</text>
    </textTemplates>
    <variables>
        <description>collection of all education records to update</description>
        <name>colEducToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_Education__c</objectType>
    </variables>
    <variables>
        <description>collection of all education records associated to the reg.</description>
        <name>colRegEduc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_Education__c</objectType>
    </variables>
    <variables>
        <name>objReg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License_Registration__c</objectType>
    </variables>
    <variables>
        <description>single registration education record in the collection</description>
        <name>objRegEduc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_Education__c</objectType>
    </variables>
    <variables>
        <name>var_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Renewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPathSubmitted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Path Not Set</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRegStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>receives value from process for the mailing address being the same as the physical</description>
        <name>varSameMailing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds flag for mailing being the same as residential address</description>
        <name>varSameResi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserProfileType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
