force-app/main/default/flows/Registration_Update_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>221</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRegistrationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Registration_Record</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Sets the mailing address when needed
- lookup update to get same mailing flag</description>
    <formulas>
        <description>Sets the mailing address 1 based on either the physical address, residential address or an explicit mailing address</description>
        <name>flaMailAddress1</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, {!objReg.Physical_Business_Address_Line_1__c} , IF ( {!varSameResi}, {!objReg.Residential_Address_Line_1__c},  {!objReg.Mailing_Address_Line_1__c} ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailAddress2</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, {!objReg.Physical_Business_Address_Line_2__c} , IF ( {!varSameResi}, {!objReg.Residential_Address_Line_2__c},  {!objReg.Mailing_Address_Line_2__c} ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailCity</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, {!objReg.Physical_Business_City__c} , IF ( {!varSameResi}, {!objReg.Residential_City__c},  {!objReg.Mailing_City__c} ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailCountry</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, TEXT( {!objReg.Physical_Business_Country__c} ) , IF ( {!varSameResi}, TEXT( {!objReg.Residential_Country__c} ),  TEXT( {!objReg.Mailing_Country__c} ) ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailingPostal</name>
        <dataType>String</dataType>
        <expression>IF ( {!varSameMailing}, {!objReg.Physical_Business_Postal_Code__c} , IF ( {!varSameResi}, {!objReg.Residential_Postal_Code__c},  {!objReg.Mailing_Postal_Code__c} ) )</expression>
    </formulas>
    <formulas>
        <name>flaMailingState</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISPICKVAL({!objReg.Mailing_Country__c}, &quot;United States of America&quot;)), &quot;N/A&quot;,IF ( {!varSameMailing}, TEXT ( {!objReg.Physical_Business_State__c} ) , 
IF ( {!varSameResi}, TEXT ( {!objReg.Residential_State__c} ), 
TEXT( {!objReg.Mailing_State__c} ) ) ))</expression>
    </formulas>
    <formulas>
        <description>Updates Physical Business State to N/A if country is not USA.</description>
        <name>flaPhysicalBusState</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!objReg.Physical_Business_Country__c}, &quot;United States of America&quot;),  TEXT( {!objReg.Physical_Business_State__c}), &quot;N/A&quot; )</expression>
    </formulas>
    <formulas>
        <name>flaRegStatus</name>
        <dataType>String</dataType>
        <expression>IF ( {!varUserProfileType} = &#39;CspLitePortal&#39;, &#39;Fee Calculation Ready&#39;, &#39;Submitted&#39;)</expression>
    </formulas>
    <formulas>
        <name>flaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Registration Update Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Update Address</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Registration_Record</name>
        <label>Get Registration Record</label>
        <locationX>484</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Registration_Submitted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <object>License_Registration__c</object>
        <outputAssignments>
            <assignToReference>objReg.Mailing_Address_Line_1__c</assignToReference>
            <field>Mailing_Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_Address_Line_2__c</assignToReference>
            <field>Mailing_Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSameMailing</assignToReference>
            <field>Mailing_Address_Same_as_Physical__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_City__c</assignToReference>
            <field>Mailing_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_Country__c</assignToReference>
            <field>Mailing_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_Postal_Code__c</assignToReference>
            <field>Mailing_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Mailing_State__c</assignToReference>
            <field>Mailing_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_Address_Line_1__c</assignToReference>
            <field>Physical_Business_Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_Address_Line_2__c</assignToReference>
            <field>Physical_Business_Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_City__c</assignToReference>
            <field>Physical_Business_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_Country__c</assignToReference>
            <field>Physical_Business_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_Postal_Code__c</assignToReference>
            <field>Physical_Business_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Physical_Business_State__c</assignToReference>
            <field>Physical_Business_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_Address_Line_1__c</assignToReference>
            <field>Residential_Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_Address_Line_2__c</assignToReference>
            <field>Residential_Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_City__c</assignToReference>
            <field>Residential_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_Postal_Code__c</assignToReference>
            <field>Residential_Postal_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>objReg.Residential_State__c</assignToReference>
            <field>Residential_State__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Registration_Submitted</name>
        <label>Update Registration - Submitted</label>
        <locationX>753</locationX>
        <locationY>175</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRegistrationID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mailing_Address_Line_1__c</field>
            <value>
                <elementReference>flaMailAddress1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Address_Line_2__c</field>
            <value>
                <elementReference>flaMailAddress2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_City__c</field>
            <value>
                <elementReference>flaMailCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Country__c</field>
            <value>
                <elementReference>flaMailCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_Postal_Code__c</field>
            <value>
                <elementReference>flaMailingPostal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mailing_State__c</field>
            <value>
                <elementReference>flaMailingState</elementReference>
            </value>
        </inputAssignments>
        <object>License_Registration__c</object>
    </recordUpdates>
    <startElementReference>Valid_Inputs</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ResubmissionReceived</name>
        <text>Your registration resubmission has been received with no additional balance due at this time. Your submission will be reviewed and processed in a timely manner.</text>
    </textTemplates>
    <textTemplates>
        <name>ResubmissionReceivedSubject</name>
        <text>Your registration resubmission has been received by DLSE</text>
    </textTemplates>
    <textTemplates>
        <name>txtEnteredFlow</name>
        <text>Entered Registration Submitted Flow via path: 
{!varPathSubmitted}

User type: 
{!varUserProfileType}</text>
    </textTemplates>
    <textTemplates>
        <name>txtSubmissionUpdateCheck</name>
        <text>Same Mailing: {!varSameMailing}
Same Resi: {!varSameResi}
Phys Add 1: {!objReg.Physical_Business_Address_Line_1__c}
Phys Add 2: {!objReg.Physical_Business_Address_Line_2__c}
Phys City: {!objReg.Physical_Business_City__c}
Phys State: {!objReg.Physical_Business_State__c}
Phys postal: {!objReg.Physical_Business_Postal_Code__c}
Phys Country: {!objReg.Physical_Business_Country__c}</text>
    </textTemplates>
    <variables>
        <description>collection of all education records to update</description>
        <name>colEducToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_Education__c</objectType>
    </variables>
    <variables>
        <description>collection of all education records associated to the reg.</description>
        <name>colRegEduc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_Education__c</objectType>
    </variables>
    <variables>
        <name>objReg</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>License_Registration__c</objectType>
    </variables>
    <variables>
        <description>single registration education record in the collection</description>
        <name>objRegEduc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Registration_Education__c</objectType>
    </variables>
    <variables>
        <name>var_Balance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Renewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPathSubmitted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Path Not Set</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>receives value from process for the mailing address being the same as the physical</description>
        <name>varSameMailing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds flag for mailing being the same as residential address</description>
        <name>varSameResi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserProfileType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
