force-app/main/default/flows/Transaction_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Flow_Start_Debug</name>
        <label>Flow Start Debug</label>
        <locationX>585</locationX>
        <locationY>92</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varTransID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>txtFlowStartDebug</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Input_Variables</name>
        <label>Input Variables</label>
        <locationX>330</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>varTransStatus</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolNewDeposit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBalancesSet</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTransSum</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountBalancePriorValue</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDepositTotal</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>586</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Adjustment_New_Deposit</name>
            <conditionLogic>1 AND ( 2 OR 4 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varTransType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTransStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBalancesSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolNewDeposit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transaction</targetReference>
            </connector>
            <label>Adjustment - New Deposit</label>
        </rules>
        <rules>
            <name>Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTransType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Trans_Status_Deposited_0</targetReference>
            </connector>
            <label>Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inputs</name>
        <label>Valid Inputs</label>
        <locationX>325</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTransID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTransStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTransType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>valid</label>
        </rules>
    </decisions>
    <formulas>
        <description>Calculates the new balance from the existing balance on the office account passed in PB plus the new transaction amount</description>
        <name>flaNewBalance</name>
        <dataType>Currency</dataType>
        <expression>If (
{!varTransType} == &#39;Adjustment&#39;, {!varAccountBalancePriorValue} + {!varDepositTotal}, 
 {!varAccountBalancePriorValue} + {!varTransSum} )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Transaction Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Trans_Status_Deposited_0</name>
        <label>Update Transaction</label>
        <locationX>824</locationX>
        <locationY>252</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTransID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Balance_After_Transaction__c</field>
            <value>
                <elementReference>flaNewBalance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Balance_Before_Transaction__c</field>
            <value>
                <elementReference>varAccountBalancePriorValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Balances_Set__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transaction</name>
        <label>Update Transaction</label>
        <locationX>818</locationX>
        <locationY>97</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTransID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Balance_After_Transaction__c</field>
            <value>
                <elementReference>flaNewBalance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Balance_Before_Transaction__c</field>
            <value>
                <elementReference>varAccountBalancePriorValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Balances_Set__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Status__c</field>
            <value>
                <stringValue>Adjusted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Sum__c</field>
            <value>
                <elementReference>varDepositTotal</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Valid_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>debug template to show variable settings when the flow starts</description>
        <name>txtFlowStartDebug</name>
        <text>&lt;p&gt;Transaction flow started:&lt;/p&gt;&lt;p&gt;Type: {!varTransType}&lt;/p&gt;&lt;p&gt;Status: {!varTransStatus}&lt;/p&gt;&lt;p&gt;New Balance: {!flaNewBalance}&lt;/p&gt;&lt;p&gt;Prior Balance: {!varAccountBalancePriorValue}&lt;/p&gt;&lt;p&gt;Balance Flag: {!varBalancesSet}&lt;/p&gt;&lt;p&gt;New Deposit: {!boolNewDeposit}&lt;/p&gt;&lt;p&gt;Deposit Total: {!varDepositTotal}&lt;/p&gt;&lt;p&gt;Trans Sum: {!varTransSum}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Flag set by pb when deposit number has been set</description>
        <name>boolNewDeposit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Receipt logs which need to be updated</description>
        <name>colReceiptLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Receipt__c</objectType>
    </variables>
    <variables>
        <description>Collection of logs to update</description>
        <name>colUpdateReceiptLog</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Receipt__c</objectType>
    </variables>
    <variables>
        <description>Specific Receipt Log being updated</description>
        <name>objReceiptLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Receipt__c</objectType>
    </variables>
    <variables>
        <description>Prior value of office account balance before transaction</description>
        <name>varAccountBalancePriorValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>value passed by pb indicating the account balance references on transaction were set prior to starting the flow</description>
        <name>varBalancesSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Deposit total field passed from the trans by PB</description>
        <name>varDepositTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Transaction ID passed from PB</description>
        <name>varTransID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Transaction Status passed from PB</description>
        <name>varTransStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Transaction sum from the transaction passed by PB</description>
        <name>varTransSum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Type from transaction passed by pb</description>
        <name>varTransType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
