force-app/main/default/flows/Wage_Referral_Closed_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Referral_Closed_Email</name>
        <label>Referral Closed Email</label>
        <locationX>288</locationX>
        <locationY>439</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReferralClosed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Referral Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailAddresses</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Inputs_Valid</name>
        <label>Inputs Valid</label>
        <locationX>286</locationX>
        <locationY>76</locationY>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReferralID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closing_Date</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wage_Referral_Closed</name>
        <label>Wage Referral Closed</label>
        <locationX>287</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Deputy_Has_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeputyEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Closed_Email</targetReference>
            </connector>
            <label>Deputy Has Email</label>
        </rules>
    </decisions>
    <description>This flow will send an email to the Deputy and Sr. Deputy when a WCA referral is closed
- Added update to the referral closing date field.</description>
    <formulas>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <expression>{!DeputyEmail} &amp; &#39;,&#39; &amp; {!SrDeputyEmail}</expression>
    </formulas>
    <formulas>
        <description>Today&#39;s date</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Wage - Referral Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wage - Referral Closed</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Closing_Date</name>
        <label>Set Closing Date</label>
        <locationX>287</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Wage_Referral_Closed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varReferralID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Ref_Closing_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Referral__c</object>
    </recordUpdates>
    <startElementReference>Inputs_Valid</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>ReferralClosed</name>
        <text>Referral {!ReferralName} has been closed.</text>
    </textTemplates>
    <variables>
        <name>DeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReferralName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SrDeputyEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ID of the Referral passed from parent flow</description>
        <name>varReferralID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
